In [ ]:
# 1.Write a function wish(name) that returns "Hello, Good Morning <name>!".
def wish(name):
    return f"Hello, Good Morning {name}!"

In [ ]:
wish("Visal")

'Hello, Good Morning Visal!'

In [ ]:
# 2.Write a function cube(n) that returns the cube of a number (n³).
def cube(n):
    return n**3

In [ ]:
cube(4)

64

In [ ]:
# 3.Write a function check_even(n) that returns True if the number is even, else False.
def check_even(n):
    if n%2==0:
        return True
    else:
        return False

In [ ]:
check_even(5)

False

In [ ]:
# 4.Write a function greatest_of_two(a, b) that returns the larger of two numbers.
def greatest_of_two(a,b):
    if a>b:
        return a
    else:
        return b

In [ ]:
greatest_of_two(11,22)

22

In [ ]:
# 5.Write a function count_letters(s) that returns the number of characters in a string.
def count_letters(s):
    return len(s)

In [ ]:
count_letters("Visal")

5

In [ ]:
# 6.Write a function power(value, exp=2) that returns the number raised to the power exp. (Default exponent = 2)
def power(value, exp=2):
    return value**exp

In [ ]:
power(8)

64

In [ ]:
# 7.Write a function swap(a, b) that returns the two values swapped as a tuple
def swap(a,b):
  return b,a

In [ ]:
swap(1,2)

(2, 1)

In [ ]:
#8.Write a function add_sub(a, b) that returns both sum and difference of two numbers
def add_sub(a,b):
    return a+b,a-b

In [ ]:
add_sub(10,7)

(17, 3)

In [ ]:
#9.Write a function circle_stats(radius) that returns the area and circumference as a tuple.
def circle_stats(radius):
  return  print("Radius:",3.14*radius**2,"Circumference:",2*3.14*radius)

In [ ]:
circle_stats(5)

Radius: 78.5 Circumference: 31.400000000000002

In [ ]:
#10.Write a function min_max_sum(nums) that returns the minimum, maximum, and sum of a list.
list1=[13,42,13,44,25,17,87,84,97,10]
def min_max_sum():
  return print("MIN:",min(list1),"MAX:",max(list1),"SUM:",sum(list1))

In [ ]:
min_max_sum()

MIN: 10 MAX: 97 SUM: 432

In [37]:
#11.Write a function concat(*parts) that joins multiple strings together with spaces
def concat(*parts):
    return ' '.join(parts)

In [ ]:
#12.Write a function format_name(first, last="") that returns "Last, First" if last name is provided, else "First".
def format_name(first,last=""):
  if first:
    return print(last,first)
  return first

In [ ]:
format_name("Visal")

 Visal

In [ ]:
#13.Write a function greet_user(first, last) that returns a message like "Welcome, First Last!".
def greet_user(first,last):
  print("Welocome",first,last,"!")

In [ ]:
greet_user("visal","reddy")

Welocome visal reddy !

In [4]:
#14.Write a lambda function to add two numbers.
Add=lambda x,y : x+y

In [ ]:
Add(1,2)

3

In [3]:
#15.Write a lambda function mult = lambda *args: that returns the product of all arguments.
mult=lambda *args:1 if not args else eval('*'.join(map(str,args)))

In [16]:
#16.Write a one-line lambda expression to flatten a list of pairs like [(a,b), (c,d)] into [a, b, c, d].
flatten=lambda pairs: [item for pair in pairs for item in pairs]

In [ ]:
#17.Write a recursive function factorial(n) that returns the factorial of a number.
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n - 1)

In [ ]:
factorial(6)

720

In [ ]:
#18.Write a function apply_twice(func, x) that applies a function twice → func(func(x)).
def apply_twice(func,x):
  return func(func(x))

In [ ]:
#19.Write a function inner_demo() that defines and calls an inner function inside it.
def inner_demo():
  def inner():
    print("Inner function")
  inner()

In [ ]:
inner_demo()

Inner function

In [ ]:
#20.Write a function call_function(func, value) that takes another function as a parameter and applies it.
def call_function(func,value):
  return func(value)

In [ ]:
#21.Write a function square_list(nums) that defines a helper function square(x) inside it and returns a list of squares.
def square_list(nums):
  def square(x):
    return x**2
  return [square(num) for num in nums]

In [ ]:
square_list([1,2,3,4,5])

[1, 4, 9, 16, 25]

In [15]:
#22.Write a function make_multiplier(m) that returns a new function which multiplies input values by m.
def makemultiplier(m):
    def multiplier(x):
        return x * m
    return multiplier

In [ ]:
#23.Write a function filter_primes(nums) that filters prime numbers using a helper is_prime() function.
def is_prime(num):
  if num<2:
    return False
  for i in range(2, int(num ** 0.5) + 1):
    if num % i == 0:
      return False
    return True

def filter_primes(nums):
  return [num for num in nums if is_prime(num)]

In [ ]:
is_prime(4)
filter_primes([1,2,3,4,3,6,7,8,2,11])

[7, 11]

In [ ]:
#24.Write a function convert_to_fahrenheit(celsius_list) using map and a lambda.Formula: F = C * 9/5 + 32
def convert_to_fahrenheit(celsius_list):
  return list(map(lambda c: c * 9/5 + 32, celsius_list))

In [ ]:
convert_to_fahrenheit([25,30,35])

[77.0, 86.0, 95.0]

In [7]:
#25.Write a function apply_if(func, predicate, iterable) that applies a function only to items that pass a condition.
def apply_if(func, predicate,iterable):
    return [func(x) if predicate(x) else x for x in iterable]

In [9]:
#26.Write a function curry(func) that converts a two-argument function into a curried version → can be called as f(a)(b).
def curry(func):
    return lambda a:lambda b:func(a,b)

In [10]:
curry(lambda a,b:a+b)(1)(2)

3

In [11]:
#27.Write a function variadic_sum(*args, **kwargs) that sums all positional arguments and multiplies by a scale factor if provided.
def variadic_sum(*args,**kwargs):
    if 'scale' in kwargs:
        return sum(args)*kwargs['scale']
    return sum(args)

In [14]:
variadic_sum(1,2,3,scale=2)

12

In [17]:
#28.Write a function sort_by_length(strings) that sorts a list of strings by their length using a lambda as key.
def sort_by_length(strings):
  return sorted(strings, key=lambda x: len(x))

In [18]:
sort_by_length(["Hello world","HI","Hello"])

['HI', 'Hello', 'Hello world']

In [ ]:
#29.Create [1,2,3,4] → list of their squares.
list1=[1,2,3,4]
list(map(lambda x:x**2,list1))

[1, 4, 9, 16]

In [ ]:
#30.Create ['a','b','c'] → list of their uppercase versions.
list_abc=['a','b','c']
list(map(lambda x:x.upper(),list_abc))

['A', 'B', 'C']

In [ ]:
#31.Make a list of even numbers from 1 to 20.
list(filter(lambda x:x%2==0,range(1,21)))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#32.Given words = ['apple', 'bee', 'cat'], create [(word, len(word)) for word in words].
words = ['apple', 'bee', 'cat']
list(map(lambda word:(word, len(word)),words))

[('apple', 5), ('bee', 3), ('cat', 3)]

In [20]:
#33.Flatten [[1,2], [3,4], [5]] → [1,2,3,4,5].
nested = [[1,2],[3,4],[5]]
flattened = [x for sublist in nested for x in sublist]
print(flattened)

[1, 2, 3, 4, 5]

In [ ]:
#34.From nums = [0,1,2,3], create a list of 'even' or 'odd' strings.
nums=[0,1,2,3]
even_odd = ["even" if x % 2 == 0 else "odd" for x in nums]
print(even_odd )

['even', 'odd', 'even', 'odd']

In [ ]:
#35.Using a comprehension, make a list of booleans showing if numbers in a list are prime (use helper function).
def is_prime(n):
  if n < 2:
    return False
  for i in range(2, int(n**0.5) + 1):
    if n % i == 0:
      return False
  return True
nums = [1, 2, 3, 4, 5]
primes_bool = [is_prime(x) for x in nums]
print(primes_bool)

[False, True, True, False, True]

In [ ]:
#36.From range(1,50), select numbers divisible by both 2 and 3.
divisible_2_and_3 = [x for x in range(1,51) if x%2==0 and x%3==0 ]
print(divisible_2_and_3)

[6, 12, 18, 24, 30, 36, 42, 48]

In [21]:
#37.Create coordinate pairs (i, j) where i and j go from 0 to 2.
coords = [(i,j) for i in range(3) for j in range(3)]
print(coords)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [22]:
#38.From ['a b','c d e'], produce a flat list of all words.
words = ['a','b','c','d','e']
flattened_words = [w for w in words]
print(flattened_words)

['a', 'b', 'c', 'd', 'e']

In [ ]:
#39.Given students = [{'name':'A','score':80}, {'name':'B','score':60}], Create a list of names of students with score ≥ 75.
students = [{'name': 'A', 'score': 80}, {'name': 'B', 'score': 60}]
high_scorers = [s['name'] for s in students if s['score'] >= 75]
print(high_scorers)

['A']

In [ ]:
#40.Build a list of dictionaries like {'n': n, 'square': n*n} for numbers 1 to 10.
squares_dict = [{'n': n, 'square': n**2} for n in range(1, 11)]
print(squares_dict)

[{'n': 1, 'square': 1}, {'n': 2, 'square': 4}, {'n': 3, 'square': 9}, {'n': 4, 'square': 16}, {'n': 5, 'square': 25}, {'n': 6, 'square': 36}, {'n': 7, 'square': 49}, {'n': 8, 'square': 64}, {'n': 9, 'square': 81}, {'n': 10, 'square': 100}]

In [26]:
#41.Merge two lists element-wise into tuples, but include only pairs where both elements are truthy.
list1 = [1,0,3,None,5]
list2 = [2,4,'',6,7]
merged = [(a,b) for a,b in zip(list1,list2) if a and b]
print(merged)

[(1, 2), (5, 7)]

In [29]:
#42.Create a comprehension to transpose a matrix (swap rows ↔ columns).
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
transposed = [[row[i] for row in matrix] for i in range(len(matrix[0]))]
print(transposed)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [31]:

#43.Flatten a 3-level nested list [[[1,2],[3]],[[4]]] into a single flat list.
nested = [[[1,2],[3]],[[4]]]
flattened = [x for sublist1 in nested for sublist2 in sublist1 for x in sublist2]
print(flattened)

[1, 2, 3, 4]

In [32]:
#44.Write a comprehension that keeps only unique items from a list while preserving order.
lst = [1,2,2,3,1,4,3,5]
seen = set()
unique = []
for x in lst:
    if x not in seen:
        unique.append(x)
        seen.add(x)
print(unique)

[1, 2, 3, 4, 5]

In [ ]:
#45.Find all indices (positions) where a given number appears in a list.
lst = [1, 2, 3, 2, 4]
number = int(input("Enter the number: "))
indices = [i for i, x in enumerate(lst) if x == number]
print(indices)

Enter the number: 1
[0]

In [ ]:
#46.Generate all palindromic numbers (as strings) between 1 and 999.
palindromes=[str(n) for n in range(1, 1000) if str(n) == str(n)[::-1]]
print(palindromes)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '11', '22', '33', '44', '55', '66', '77', '88', '99', '101', '111', '121', '131', '141', '151', '161', '171', '181', '191', '202', '212', '222', '232', '242', '252', '262', '272', '282', '292', '303', '313', '323', '333', '343', '353', '363', '373', '383', '393', '404', '414', '424', '434', '444', '454', '464', '474', '484', '494', '505', '515', '525', '535', '545', '555', '565', '575', '585', '595', '606', '616', '626', '636', '646', '656', '666', '676', '686', '696', '707', '717', '727', '737', '747', '757', '767', '777', '787', '797', '808', '818', '828', '838', '848', '858', '868', '878', '888', '898', '909', '919', '929', '939', '949', '959', '969', '979', '989', '999']

In [ ]:
#47.Convert a dictionary like {'a':[1,2], 'b':[3]} into a list of (key, value) pairs.
d={'a':1,'b':3}
pairs=[(k,v) for k,v in d.items()]
print(pairs)

[('a', 1), ('b', 3)]

In [33]:
#48.Create a list of prime pairs (p, q) where both are primes under 100 and p + q is also prime.
# Function to check if a number is prime
def is_prime(n):
  if n<2:
    return False
  for i in range(2,int(n**0.5)+1):
    if n%i==0:
      return False
  return True

primes = []
for num in range(2,100):
  if is_prime(num):
    primes.append(num)

prime_pairs = []
for p in primes:
  for q in primes:
    if p<=q and is_prime(p+q):
      prime_pairs.append((p,q))

print(prime_pairs)

[(2, 3), (2, 5), (2, 11), (2, 17), (2, 29), (2, 41), (2, 59), (2, 71)]

In [ ]:
#49.Create a lower-triangular matrix (n×n) with 1s below and on the diagonal, 0s above.
n = 10
lower_triangular=[[1 if j<=i else 0 for j in range(n)] for i in range(n)]
for row in lower_triangular:
  print(row)

[1, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[1, 1, 0, 0, 0, 0, 0, 0, 0, 0]
[1, 1, 1, 0, 0, 0, 0, 0, 0, 0]
[1, 1, 1, 1, 0, 0, 0, 0, 0, 0]
[1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
[1, 1, 1, 1, 1, 1, 0, 0, 0, 0]
[1, 1, 1, 1, 1, 1, 1, 0, 0, 0]
[1, 1, 1, 1, 1, 1, 1, 1, 0, 0]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 0]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [36]:
#50.Generate all possible sequences of length 4 from 'abcd' with no repeated letters.
letters='abcd'
sequences=[]
for a in letters:
  for b in letters:
    if b != a:
      for c in letters:
        if c != a and c != b:
          for d in letters:
            if d != a and d != b and d != c:
              sequences.append(a + b + c + d)
print(sequences)

['abcd', 'abdc', 'acbd', 'acdb', 'adbc', 'adcb', 'bacd', 'badc', 'bcad', 'bcda', 'bdac', 'bdca', 'cabd', 'cadb', 'cbad', 'cbda', 'cdab', 'cdba', 'dabc', 'dacb', 'dbac', 'dbca', 'dcab', 'dcba']