<a href="https://colab.research.google.com/github/visalreddy/Python_Assignment/blob/main/Pandas_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# 1. Load the dataset and print the shape, column names, and data types.
sales_data=pd.read_csv(r"/content/drive/MyDrive/PY Assignments/Advanced_Dirty_Sales_Dataset.csv")

In [ ]:
print(sales_data.shape)

(100100, 12)

In [ ]:
print(sales_data.columns)

Index(['OrderID', 'CustomerID', 'CustomerName', 'Product', 'Category',
       'Quantity', 'Price', 'OrderDate', 'City', 'Region', 'Returned',
       'TotalAmount'],
      dtype='object')

In [ ]:
print(sales_data.dtypes)

OrderID          int64
CustomerID       int64
CustomerName    object
Product         object
Category        object
Quantity        object
Price           object
OrderDate       object
City            object
Region          object
Returned          bool
TotalAmount     object
dtype: object

In [ ]:
demograph_data=pd.read_csv(r"/content/drive/MyDrive/PY Assignments/Advanced_Dirty_Demographics_Dataset.csv")

In [ ]:
print(demograph_data.shape)
print(demograph_data.columns)
print(demograph_data.dtypes)

(94628, 8)
Index(['CustomerID', 'CustomerName', 'City', 'Region', 'Age', 'Gender',
       'IncomeBracket', 'MaritalStatus'],
      dtype='object')
CustomerID        int64
CustomerName     object
City             object
Region           object
Age               int64
Gender           object
IncomeBracket    object
MaritalStatus    object
dtype: object

In [ ]:
# 2. Show the first 10 and last 10 rows of the dataset.
print(sales_data.head(10))

   OrderID  CustomerID CustomerName   Product     Category Quantity    Price  \
0    44770        8192  @ charlie !  Keyboard  Electronics        1  $870.54
1    23355        9138  @ charlie !   Monitor  Electronics        5  $144.02
2    75847        4098  @ charlie !    Laptop  Accessories        3  $557.79
3    95176        2391      @ eva !   Monitor  Electronics        5   $552.2
4     1854        8842      @ eva !    Laptop  Accessories        4   $411.2
5    56788        6935    @ david !   Monitor  Electronics        1  $415.12
6    63473        2787      @ bob !    Tablet  Electronics        3   $677.7
7    79506        3389    @ alice !     Phone  Accessories        9  $674.73
8    55148        1287    @ david !    Laptop  Accessories        2  $330.38
9    24564        3745      @ bob !    Tablet  Accessories        8  $686.34

          OrderDate             City Region  Returned TotalAmount
0        32/13/2023      PHOENIX#123  South     False      870.54
1        05-02-2024      HOUSTON#123   West     False       720.1
2        11/08/2024     NEW YORK#123   East     False     1673.37
3        32/13/2023      CHICAGO#123  North     False      2761.0
4        32/13/2023      CHICAGO#123   East     False      1644.8
5  October 06, 2024  LOS ANGELES#123   West     False      415.12
6    April 03, 2024      PHOENIX#123   West     False      2033.1
7     July 14, 2024      HOUSTON#123  North      True     6072.57
8        09-01-2024      HOUSTON#123   East     False      660.76
9        23/04/2023      PHOENIX#123  North     False     5490.72

In [ ]:
print(sales_data.tail(10))

        OrderID  CustomerID CustomerName   Product     Category Quantity  \
100090    87473        6459      @ eva !     Phone  Electronics        7
100091    46252        4130      @ bob !     Phone  Accessories        7
100092     6769        5466      @ eva !  Keyboard  Accessories        3
100093    29838        8422      @ eva !   Monitor          NaN        8
100094    40937        2341      @ eva !    Tablet  Accessories        4
100095    95426        5376    @ alice !  Keyboard  Electronics        2
100096    77181        6047    @ alice !  Keyboard  Accessories        5
100097     7354        2439      @ bob !    Laptop  Electronics        8
100098    52126        2810    @ alice !  Keyboard  Electronics        7
100099    80766        5705    @ david !    Tablet  Electronics        1

           Price         OrderDate             City Region  Returned  \
100090    $971.5        12/10/2023      PHOENIX#123  South     False
100091   $348.02        2024-06-01      CHICAGO#123  South     False
100092   $752.28        2023-08-09  LOS ANGELES#123   West     False
100093   $302.33        09/04/2023      CHICAGO#123  South     False
100094   $736.55    March 12, 2024     NEW YORK#123   East      True
100095   $468.67        2023-08-14              NaN   West     False
100096  $1350.58        32/13/2023      CHICAGO#123  South      True
100097   $330.46        2024-10-05  LOS ANGELES#123   East     False
100098    $361.9  October 22, 2023     NEW YORK#123   West     False
100099   $760.99        26/03/2023      CHICAGO#123  North     False

       TotalAmount
100090      6800.5
100091     2436.14
100092     2256.84
100093     2418.64
100094      2946.2
100095      937.34
100096      6752.9
100097     2643.68
100098      2533.3
100099      760.99

In [ ]:
print(demograph_data.head(10))

   CustomerID CustomerName         City Region  Age  Gender IncomeBracket  \
0        3461          EVA  Los Angeles   West   41   male!          $LOW
1        1755      CHARLIE      Chicago   West   48   male!         $HIGH
2        1693          BOB      Phoenix   East   21  femle!       $MIDDEL
3        9880          BOB      Houston   West   58  femle!       $MIDDEL
4        2529          BOB  Los Angeles  North   26  femle!       $MIDDEL
5        2462      CHARLIE  Los Angeles  North   36   male!       $MIDDEL
6        7213        DAVID      Houston  North   23  femle!       $MIDDEL
7        4011          BOB     New York   West   52  femle!         $HIGH
8        3937        ALICE  Los Angeles   East   32   male!       $MIDDEL
9        9566        ALICE      Chicago  North   35   male!       $MIDDEL

  MaritalStatus
0     married##
1     married##
2     married##
3    divorced##
4    divorced##
5    divorced##
6    divorced##
7     married##
8      single##
9      single##

In [ ]:
print(demograph_data.tail(10))

       CustomerID CustomerName         City Region  Age  Gender IncomeBracket  \
94618        9898        ALICE      Chicago  South   56   male!          $LOW
94619        7143        DAVID      Chicago  South   48  femle!          $LOW
94620        7981        ALICE      Phoenix   West   58  femle!          $LOW
94621        3602        ALICE  Los Angeles   East   32   male!         $HIGH
94622        2184        ALICE     New York  North   52  femle!          $LOW
94623        3663        ALICE     New York  South   60  femle!          $LOW
94624        2025          BOB      Chicago   East   48   male!          $LOW
94625        3807        ALICE      Phoenix  North   28  femle!       $MIDDEL
94626        7358          BOB  Los Angeles  North   27   male!         $HIGH
94627        4174          EVA      Chicago   West   34   male!       $MIDDEL

      MaritalStatus
94618     married##
94619     married##
94620      single##
94621    divorced##
94622     married##
94623      single##
94624      single##
94625      single##
94626      single##
94627     married##

In [ ]:
# 3. Convert OrderDate to datetime type.
sales_data['OrderDate'] = pd.to_datetime(sales_data['OrderDate'],errors='coerce')
print(sales_data.dtypes)

/tmp/ipython-input-2916719038.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  sales_data['OrderDate'] = pd.to_datetime(sales_data['OrderDate'],errors='coerce')

OrderID                  int64
CustomerID               int64
CustomerName            object
Product                 object
Category                object
Quantity                object
Price                   object
OrderDate       datetime64[ns]
City                    object
Region                  object
Returned                  bool
TotalAmount             object
dtype: object

In [ ]:
#4. Display the total number of unique customers.
print(sales_data["CustomerID"].nunique)

<bound method IndexOpsMixin.nunique of 0         8192
1         9138
2         4098
3         2391
4         8842
          ...
100095    5376
100096    6047
100097    2439
100098    2810
100099    5705
Name: CustomerID, Length: 100100, dtype: int64>

In [ ]:
#5. Show all unique product categories and count them.
print(sales_data["Category"].unique())
print(sales_data["Category"].nunique())

['Electronics' 'Accessories' nan]
2

In [ ]:
#6. Filter all orders made in the city of "Los Angeles".
print(sales_data[sales_data["City"]=="Los Angeles"])

Empty DataFrame
Columns: [OrderID, CustomerID, CustomerName, Product, Category, Quantity, Price, OrderDate, City, Region, Returned, TotalAmount]
Index: []

In [ ]:
#7. Select orders where quantity is more than 5.
sales_data["Quantity"]=pd.to_numeric(sales_data["Quantity"],errors='coerce')
print(sales_data[sales_data["Quantity"]>5])

        OrderID  CustomerID CustomerName   Product     Category  Quantity  \
7         79506        3389    @ alice !     Phone  Accessories       9.0
9         24564        3745      @ bob !    Tablet  Accessories       8.0
13        69640        1481      @ bob !     Phone  Accessories       6.0
17        23495        1514      @ bob !    Tablet  Electronics       9.0
18        86339        3999      @ eva !    Laptop  Electronics       9.0
...         ...         ...          ...       ...          ...       ...
100090    87473        6459      @ eva !     Phone  Electronics       7.0
100091    46252        4130      @ bob !     Phone  Accessories       7.0
100093    29838        8422      @ eva !   Monitor          NaN       8.0
100097     7354        2439      @ bob !    Laptop  Electronics       8.0
100098    52126        2810    @ alice !  Keyboard  Electronics       7.0

           Price  OrderDate             City Region  Returned TotalAmount
7        $674.73 2024-07-14      HOUSTON#123  North      True     6072.57
9        $686.34 2023-04-23      PHOENIX#123  North     False     5490.72
13       $173.41 2023-11-26      HOUSTON#123   West     False     1040.46
17       $212.04 2023-07-09      CHICAGO#123   East     False     1908.36
18      $1070.42 2024-04-29  LOS ANGELES#123   West     False     9633.78
...          ...        ...              ...    ...       ...         ...
100090    $971.5 2023-12-10      PHOENIX#123  South     False      6800.5
100091   $348.02 2024-06-01      CHICAGO#123  South     False     2436.14
100093   $302.33 2023-09-04      CHICAGO#123  South     False     2418.64
100097   $330.46 2024-10-05  LOS ANGELES#123   East     False     2643.68
100098    $361.9 2023-10-22     NEW YORK#123   West     False      2533.3

[43860 rows x 12 columns]

In [ ]:
#8. Add a new column UnitTotal = Quantity * Price and compare with TotalAmount. Flag mismatches.
sales_data['Price'] = sales_data['Price'].str.replace('$', '', regex=False).astype(float)
sales_data['UnitTotal'] = sales_data['Quantity'] * sales_data['Price']
print(sales_data)

AttributeError: Can only use .str accessor with string values!

In [ ]:
#9. Create a new column DiscountApplied (True if UnitTotal > TotalAmount).
sales_data["TotalAmount"]=pd.to_numeric(sales_data["TotalAmount"],errors='coerce')
sales_data["DiscountApplied"]=sales_data["UnitTotal"]>sales_data["TotalAmount"]
print(sales_data)

        OrderID  CustomerID CustomerName   Product     Category  Quantity  \
0         44770        8192  @ charlie !  Keyboard  Electronics       1.0
1         23355        9138  @ charlie !   Monitor  Electronics       5.0
2         75847        4098  @ charlie !    Laptop  Accessories       3.0
3         95176        2391      @ eva !   Monitor  Electronics       5.0
4          1854        8842      @ eva !    Laptop  Accessories       4.0
...         ...         ...          ...       ...          ...       ...
100095    95426        5376    @ alice !  Keyboard  Electronics       2.0
100096    77181        6047    @ alice !  Keyboard  Accessories       5.0
100097     7354        2439      @ bob !    Laptop  Electronics       8.0
100098    52126        2810    @ alice !  Keyboard  Electronics       7.0
100099    80766        5705    @ david !    Tablet  Electronics       1.0

          Price  OrderDate             City Region  Returned  TotalAmount  \
0        870.54        NaT      PHOENIX#123  South     False       870.54
1        144.02 2024-05-02      HOUSTON#123   West     False       720.10
2        557.79 2024-11-08     NEW YORK#123   East     False      1673.37
3        552.20        NaT      CHICAGO#123  North     False      2761.00
4        411.20        NaT      CHICAGO#123   East     False      1644.80
...         ...        ...              ...    ...       ...          ...
100095   468.67 2023-08-14              NaN   West     False       937.34
100096  1350.58        NaT      CHICAGO#123  South      True      6752.90
100097   330.46 2024-10-05  LOS ANGELES#123   East     False      2643.68
100098   361.90 2023-10-22     NEW YORK#123   West     False      2533.30
100099   760.99 2023-03-26      CHICAGO#123  North     False       760.99

        UnitTotal  DiscountApplied
0          870.54            False
1          720.10            False
2         1673.37            False
3         2761.00            False
4         1644.80            False
...           ...              ...
100095     937.34            False
100096    6752.90            False
100097    2643.68            False
100098    2533.30            False
100099     760.99            False

[100100 rows x 14 columns]

In [ ]:
#10.Drop the column DiscountApplied after saving it to a variable.
discount_saved=sales_data["DiscountApplied"].copy()
sale= sales_data.drop(columns=['DiscountApplied'])
print(sale)

        OrderID  CustomerID CustomerName   Product     Category  Quantity  \
0         44770        8192  @ charlie !  Keyboard  Electronics       1.0
1         23355        9138  @ charlie !   Monitor  Electronics       5.0
2         75847        4098  @ charlie !    Laptop  Accessories       3.0
3         95176        2391      @ eva !   Monitor  Electronics       5.0
4          1854        8842      @ eva !    Laptop  Accessories       4.0
...         ...         ...          ...       ...          ...       ...
100095    95426        5376    @ alice !  Keyboard  Electronics       2.0
100096    77181        6047    @ alice !  Keyboard  Accessories       5.0
100097     7354        2439      @ bob !    Laptop  Electronics       8.0
100098    52126        2810    @ alice !  Keyboard  Electronics       7.0
100099    80766        5705    @ david !    Tablet  Electronics       1.0

          Price  OrderDate             City Region  Returned  TotalAmount  \
0        870.54        NaT      PHOENIX#123  South     False       870.54
1        144.02 2024-05-02      HOUSTON#123   West     False       720.10
2        557.79 2024-11-08     NEW YORK#123   East     False      1673.37
3        552.20        NaT      CHICAGO#123  North     False      2761.00
4        411.20        NaT      CHICAGO#123   East     False      1644.80
...         ...        ...              ...    ...       ...          ...
100095   468.67 2023-08-14              NaN   West     False       937.34
100096  1350.58        NaT      CHICAGO#123  South      True      6752.90
100097   330.46 2024-10-05  LOS ANGELES#123   East     False      2643.68
100098   361.90 2023-10-22     NEW YORK#123   West     False      2533.30
100099   760.99 2023-03-26      CHICAGO#123  North     False       760.99

        UnitTotal
0          870.54
1          720.10
2         1673.37
3         2761.00
4         1644.80
...           ...
100095     937.34
100096    6752.90
100097    2643.68
100098    2533.30
100099     760.99

[100100 rows x 13 columns]

In [ ]:
#11. Filter all returned orders.
print(sales_data[sales_data["Returned"]==True])

        OrderID  CustomerID CustomerName   Product     Category  Quantity  \
7         79506        3389    @ alice !     Phone  Accessories       9.0
15         5103        1382      @ eva !     Phone  Accessories       1.0
21        87250        2818    @ alice !     Phone  Electronics       3.0
31        81349        3421      @ eva !    Laptop  Accessories       7.0
53        50549        8174      @ eva !   Monitor  Electronics       5.0
...         ...         ...          ...       ...          ...       ...
100031    53849        7723    @ alice !  Keyboard  Electronics       4.0
100041    94461        5550  @ charlie !  Keyboard  Electronics       7.0
100061    48148        6197      @ bob !    Tablet  Accessories       3.0
100094    40937        2341      @ eva !    Tablet  Accessories       4.0
100096    77181        6047    @ alice !  Keyboard  Accessories       5.0

          Price  OrderDate             City Region  Returned  TotalAmount  \
7        674.73 2024-07-14      HOUSTON#123  North      True      6072.57
15       504.94 2023-03-07     NEW YORK#123   West      True       504.94
21      1188.93 2024-02-27  LOS ANGELES#123  North      True      3566.79
31      1383.91 2024-05-18  LOS ANGELES#123   West      True      9687.37
53      1358.43        NaT      HOUSTON#123  South      True      6792.15
...         ...        ...              ...    ...       ...          ...
100031   947.33 2023-04-14      CHICAGO#123  North      True      3789.32
100041  1479.18 2023-05-29      PHOENIX#123   East      True     10354.26
100061   670.62 2024-09-13  LOS ANGELES#123  South      True      2011.86
100094   736.55 2024-03-12     NEW YORK#123   East      True      2946.20
100096  1350.58        NaT      CHICAGO#123  South      True      6752.90

        UnitTotal  DiscountApplied
7         6072.57            False
15         504.94            False
21        3566.79            False
31        9687.37            False
53        6792.15            False
...           ...              ...
100031    3789.32            False
100041   10354.26            False
100061    2011.86             True
100094    2946.20            False
100096    6752.90            False

[9873 rows x 14 columns]

In [ ]:
#12. Show top 5 cities by number of orders.
print(sales_data["City"].value_counts().head(5))

City
NEW YORK#123       19781
PHOENIX#123        19771
CHICAGO#123        19615
LOS ANGELES#123    19519
HOUSTON#123        19412
Name: count, dtype: int64

In [ ]:
#13. What are the top 3 most sold products (by quantity)?
print(sales_data.groupby("Product")["Quantity"].sum().sort_values(ascending=False).head(3))

Product
Phone       97697.0
Laptop      97501.0
Keyboard    96835.0
Name: Quantity, dtype: float64

In [ ]:
#14. Rename CustomerName to CustName and revert it.
sales_data.rename(columns={'CustomerName': 'CustName'}, inplace=True)
print("Before revert:\n",sales_data)
sales_data.rename(columns={'CustName': 'CustomerName'}, inplace=True)
print("Before revert:\n",sales_data)

Before revert:
         OrderID  CustomerID     CustName   Product     Category  Quantity  \
0         44770        8192  @ charlie !  Keyboard  Electronics       1.0
1         23355        9138  @ charlie !   Monitor  Electronics       5.0
2         75847        4098  @ charlie !    Laptop  Accessories       3.0
3         95176        2391      @ eva !   Monitor  Electronics       5.0
4          1854        8842      @ eva !    Laptop  Accessories       4.0
...         ...         ...          ...       ...          ...       ...
100095    95426        5376    @ alice !  Keyboard  Electronics       2.0
100096    77181        6047    @ alice !  Keyboard  Accessories       5.0
100097     7354        2439      @ bob !    Laptop  Electronics       8.0
100098    52126        2810    @ alice !  Keyboard  Electronics       7.0
100099    80766        5705    @ david !    Tablet  Electronics       1.0

          Price  OrderDate             City Region  Returned  TotalAmount  \
0        870.54        NaT      PHOENIX#123  South     False       870.54
1        144.02 2024-05-02      HOUSTON#123   West     False       720.10
2        557.79 2024-11-08     NEW YORK#123   East     False      1673.37
3        552.20        NaT      CHICAGO#123  North     False      2761.00
4        411.20        NaT      CHICAGO#123   East     False      1644.80
...         ...        ...              ...    ...       ...          ...
100095   468.67 2023-08-14              NaN   West     False       937.34
100096  1350.58        NaT      CHICAGO#123  South      True      6752.90
100097   330.46 2024-10-05  LOS ANGELES#123   East     False      2643.68
100098   361.90 2023-10-22     NEW YORK#123   West     False      2533.30
100099   760.99 2023-03-26      CHICAGO#123  North     False       760.99

        UnitTotal  DiscountApplied
0          870.54            False
1          720.10            False
2         1673.37            False
3         2761.00            False
4         1644.80            False
...           ...              ...
100095     937.34            False
100096    6752.90            False
100097    2643.68            False
100098    2533.30            False
100099     760.99            False

[100100 rows x 14 columns]
Before revert:
         OrderID  CustomerID CustomerName   Product     Category  Quantity  \
0         44770        8192  @ charlie !  Keyboard  Electronics       1.0
1         23355        9138  @ charlie !   Monitor  Electronics       5.0
2         75847        4098  @ charlie !    Laptop  Accessories       3.0
3         95176        2391      @ eva !   Monitor  Electronics       5.0
4          1854        8842      @ eva !    Laptop  Accessories       4.0
...         ...         ...          ...       ...          ...       ...
100095    95426        5376    @ alice !  Keyboard  Electronics       2.0
100096    77181        6047    @ alice !  Keyboard  Accessories       5.0
100097     7354        2439      @ bob !    Laptop  Electronics       8.0
100098    52126        2810    @ alice !  Keyboard  Electronics       7.0
100099    80766        5705    @ david !    Tablet  Electronics       1.0

          Price  OrderDate             City Region  Returned  TotalAmount  \
0        870.54        NaT      PHOENIX#123  South     False       870.54
1        144.02 2024-05-02      HOUSTON#123   West     False       720.10
2        557.79 2024-11-08     NEW YORK#123   East     False      1673.37
3        552.20        NaT      CHICAGO#123  North     False      2761.00
4        411.20        NaT      CHICAGO#123   East     False      1644.80
...         ...        ...              ...    ...       ...          ...
100095   468.67 2023-08-14              NaN   West     False       937.34
100096  1350.58        NaT      CHICAGO#123  South      True      6752.90
100097   330.46 2024-10-05  LOS ANGELES#123   East     False      2643.68
100098   361.90 2023-10-22     NEW YORK#123   West     False      2533.30
100099   760.99 2023-03-26      CHICAGO#123  North     False       760.99

        UnitTotal  DiscountApplied
0          870.54            False
1          720.10            False
2         1673.37            False
3         2761.00            False
4         1644.80            False
...           ...              ...
100095     937.34            False
100096    6752.90            False
100097    2643.68            False
100098    2533.30            False
100099     760.99            False

[100100 rows x 14 columns]

In [ ]:
#15.Check and count missing values in each column.
print(sales_data.isnull().sum())

OrderID                0
CustomerID             0
CustomerName           0
Product             2001
Category            2003
Quantity            1001
Price               1001
OrderDate          20072
City                2002
Region                 0
Returned               0
TotalAmount         1001
UnitTotal           1001
DiscountApplied        0
dtype: int64

In [ ]:
#16. Fill missing values in City (if any) with "Unknown".
sales_data["City"].fillna("Unknown",inplace=True)
print(sales_data)

        OrderID  CustomerID CustomerName   Product     Category  Quantity  \
0         44770        8192  @ charlie !  Keyboard  Electronics       1.0
1         23355        9138  @ charlie !   Monitor  Electronics       5.0
2         75847        4098  @ charlie !    Laptop  Accessories       3.0
3         95176        2391      @ eva !   Monitor  Electronics       5.0
4          1854        8842      @ eva !    Laptop  Accessories       4.0
...         ...         ...          ...       ...          ...       ...
100095    95426        5376    @ alice !  Keyboard  Electronics       2.0
100096    77181        6047    @ alice !  Keyboard  Accessories       5.0
100097     7354        2439      @ bob !    Laptop  Electronics       8.0
100098    52126        2810    @ alice !  Keyboard  Electronics       7.0
100099    80766        5705    @ david !    Tablet  Electronics       1.0

          Price  OrderDate             City Region  Returned  TotalAmount  \
0        870.54        NaT      PHOENIX#123  South     False       870.54
1        144.02 2024-05-02      HOUSTON#123   West     False       720.10
2        557.79 2024-11-08     NEW YORK#123   East     False      1673.37
3        552.20        NaT      CHICAGO#123  North     False      2761.00
4        411.20        NaT      CHICAGO#123   East     False      1644.80
...         ...        ...              ...    ...       ...          ...
100095   468.67 2023-08-14          Unknown   West     False       937.34
100096  1350.58        NaT      CHICAGO#123  South      True      6752.90
100097   330.46 2024-10-05  LOS ANGELES#123   East     False      2643.68
100098   361.90 2023-10-22     NEW YORK#123   West     False      2533.30
100099   760.99 2023-03-26      CHICAGO#123  North     False       760.99

        UnitTotal  DiscountApplied
0          870.54            False
1          720.10            False
2         1673.37            False
3         2761.00            False
4         1644.80            False
...           ...              ...
100095     937.34            False
100096    6752.90            False
100097    2643.68            False
100098    2533.30            False
100099     760.99            False

[100100 rows x 14 columns]

/tmp/ipython-input-945927335.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sales_data["City"].fillna("Unknown",inplace=True)

In [ ]:
#17. Remove duplicates based on OrderID.
sales_data.drop_duplicates(subset="OrderID",inplace=True)
print(sales_data)

        OrderID  CustomerID CustomerName   Product     Category  Quantity  \
0         44770        8192  @ charlie !  Keyboard  Electronics       1.0
1         23355        9138  @ charlie !   Monitor  Electronics       5.0
2         75847        4098  @ charlie !    Laptop  Accessories       3.0
3         95176        2391      @ eva !   Monitor  Electronics       5.0
4          1854        8842      @ eva !    Laptop  Accessories       4.0
...         ...         ...          ...       ...          ...       ...
100095    95426        5376    @ alice !  Keyboard  Electronics       2.0
100096    77181        6047    @ alice !  Keyboard  Accessories       5.0
100097     7354        2439      @ bob !    Laptop  Electronics       8.0
100098    52126        2810    @ alice !  Keyboard  Electronics       7.0
100099    80766        5705    @ david !    Tablet  Electronics       1.0

          Price  OrderDate             City Region  Returned  TotalAmount  \
0        870.54        NaT      PHOENIX#123  South     False       870.54
1        144.02 2024-05-02      HOUSTON#123   West     False       720.10
2        557.79 2024-11-08     NEW YORK#123   East     False      1673.37
3        552.20        NaT      CHICAGO#123  North     False      2761.00
4        411.20        NaT      CHICAGO#123   East     False      1644.80
...         ...        ...              ...    ...       ...          ...
100095   468.67 2023-08-14          Unknown   West     False       937.34
100096  1350.58        NaT      CHICAGO#123  South      True      6752.90
100097   330.46 2024-10-05  LOS ANGELES#123   East     False      2643.68
100098   361.90 2023-10-22     NEW YORK#123   West     False      2533.30
100099   760.99 2023-03-26      CHICAGO#123  North     False       760.99

        UnitTotal  DiscountApplied
0          870.54            False
1          720.10            False
2         1673.37            False
3         2761.00            False
4         1644.80            False
...           ...              ...
100095     937.34            False
100096    6752.90            False
100097    2643.68            False
100098    2533.30            False
100099     760.99            False

[100000 rows x 14 columns]

In [ ]:
#18. Sort the data by TotalAmount in descending order.
print(sales_data.sort_values(by="TotalAmount",ascending=False))

       OrderID  CustomerID CustomerName   Product     Category  Quantity  \
99875    78404        2864      @ bob !    Laptop  Accessories       9.0
47882    27909        1707    @ david !   Monitor  Electronics       9.0
75618    63782        7708    @ david !  Keyboard  Electronics       9.0
55578    49344        4338    @ david !  Keyboard  Electronics       9.0
53794    34029        3759      @ bob !    Laptop  Electronics       9.0
...        ...         ...          ...       ...          ...       ...
99302     6464        6738    @ david !    Tablet  Electronics       NaN
99371    17207        5753  @ charlie !     Phone  Electronics       NaN
99529    29355        9833      @ eva !  Keyboard  Accessories       NaN
99630    86382        8146      @ bob !     Phone  Electronics       NaN
99845    11862        8008      @ eva !    Tablet  Electronics       NaN

         Price  OrderDate             City Region  Returned  TotalAmount  \
99875  1499.99 2024-07-06      PHOENIX#123   West     False     13499.91
47882  1499.95 2024-01-28      CHICAGO#123   West     False     13499.55
75618  1499.74 2024-06-07     NEW YORK#123   West     False     13497.66
55578  1499.20 2023-02-13     NEW YORK#123  South     False     13492.80
53794  1499.17        NaT      PHOENIX#123   East     False     13492.53
...        ...        ...              ...    ...       ...          ...
99302      NaN 2024-04-15  LOS ANGELES#123  North     False          NaN
99371      NaN        NaT      HOUSTON#123  South     False          NaN
99529      NaN 2023-05-30     NEW YORK#123   West     False          NaN
99630      NaN        NaT      HOUSTON#123   East     False          NaN
99845      NaN 2023-03-03     NEW YORK#123  North     False          NaN

       UnitTotal  DiscountApplied
99875   13499.91            False
47882   13499.55             True
75618   13497.66            False
55578   13492.80             True
53794   13492.53            False
...          ...              ...
99302        NaN            False
99371        NaN            False
99529        NaN            False
99630        NaN            False
99845        NaN            False

[100000 rows x 14 columns]

In [ ]:
#19. Get the top 5 orders with the highest total amount.
print(sales_data.nlargest(5,"TotalAmount"))

       OrderID  CustomerID CustomerName   Product     Category  Quantity  \
99875    78404        2864      @ bob !    Laptop  Accessories       9.0
47882    27909        1707    @ david !   Monitor  Electronics       9.0
75618    63782        7708    @ david !  Keyboard  Electronics       9.0
55578    49344        4338    @ david !  Keyboard  Electronics       9.0
53794    34029        3759      @ bob !    Laptop  Electronics       9.0

         Price  OrderDate          City Region  Returned  TotalAmount  \
99875  1499.99 2024-07-06   PHOENIX#123   West     False     13499.91
47882  1499.95 2024-01-28   CHICAGO#123   West     False     13499.55
75618  1499.74 2024-06-07  NEW YORK#123   West     False     13497.66
55578  1499.20 2023-02-13  NEW YORK#123  South     False     13492.80
53794  1499.17        NaT   PHOENIX#123   East     False     13492.53

       UnitTotal  DiscountApplied
99875   13499.91            False
47882   13499.55             True
75618   13497.66            False
55578   13492.80             True
53794   13492.53            False

In [ ]:
#20. Extract year and month from OrderDate.
sales_data["Year"]=sales_data["OrderDate"].dt.year
sales_data["Month"]=sales_data["OrderDate"].dt.month
print(sales_data["Year"])
print(sales_data["Month"])

0            NaN
1         2024.0
2         2024.0
3            NaN
4            NaN
           ...
100095    2023.0
100096       NaN
100097    2024.0
100098    2023.0
100099    2023.0
Name: Year, Length: 100000, dtype: float64
0          NaN
1          5.0
2         11.0
3          NaN
4          NaN
          ...
100095     8.0
100096     NaN
100097    10.0
100098    10.0
100099     3.0
Name: Month, Length: 100000, dtype: float64

In [ ]:
#21.Create a new column OrderMonth with full month names.
sales_data["OrderMonth"]=sales_data["OrderDate"].dt.strftime("%B")
print(sales_data)

        OrderID  CustomerID CustomerName   Product     Category  Quantity  \
0         44770        8192  @ charlie !  Keyboard  Electronics       1.0
1         23355        9138  @ charlie !   Monitor  Electronics       5.0
2         75847        4098  @ charlie !    Laptop  Accessories       3.0
3         95176        2391      @ eva !   Monitor  Electronics       5.0
4          1854        8842      @ eva !    Laptop  Accessories       4.0
...         ...         ...          ...       ...          ...       ...
100095    95426        5376    @ alice !  Keyboard  Electronics       2.0
100096    77181        6047    @ alice !  Keyboard  Accessories       5.0
100097     7354        2439      @ bob !    Laptop  Electronics       8.0
100098    52126        2810    @ alice !  Keyboard  Electronics       7.0
100099    80766        5705    @ david !    Tablet  Electronics       1.0

          Price  OrderDate             City Region  Returned  TotalAmount  \
0        870.54        NaT      PHOENIX#123  South     False       870.54
1        144.02 2024-05-02      HOUSTON#123   West     False       720.10
2        557.79 2024-11-08     NEW YORK#123   East     False      1673.37
3        552.20        NaT      CHICAGO#123  North     False      2761.00
4        411.20        NaT      CHICAGO#123   East     False      1644.80
...         ...        ...              ...    ...       ...          ...
100095   468.67 2023-08-14          Unknown   West     False       937.34
100096  1350.58        NaT      CHICAGO#123  South      True      6752.90
100097   330.46 2024-10-05  LOS ANGELES#123   East     False      2643.68
100098   361.90 2023-10-22     NEW YORK#123   West     False      2533.30
100099   760.99 2023-03-26      CHICAGO#123  North     False       760.99

        UnitTotal  DiscountApplied    Year  Month OrderMonth
0          870.54            False     NaN    NaN        NaN
1          720.10            False  2024.0    5.0        May
2         1673.37            False  2024.0   11.0   November
3         2761.00            False     NaN    NaN        NaN
4         1644.80            False     NaN    NaN        NaN
...           ...              ...     ...    ...        ...
100095     937.34            False  2023.0    8.0     August
100096    6752.90            False     NaN    NaN        NaN
100097    2643.68            False  2024.0   10.0    October
100098    2533.30            False  2023.0   10.0    October
100099     760.99            False  2023.0    3.0      March

[100000 rows x 17 columns]

In [ ]:
#22. Show all orders from Q1 of any year (JanMar).
print(sales_data[(sales_data["Month"]>=1) & (sales_data["Month"]<=3)])

        OrderID  CustomerID CustomerName   Product     Category  Quantity  \
15         5103        1382      @ eva !     Phone  Accessories       1.0
21        87250        2818    @ alice !     Phone  Electronics       3.0
24        90538        2124    @ david !  Keyboard  Accessories       4.0
43        48638        4913  @ charlie !    Tablet  Electronics       3.0
49        66090        6049    @ david !  Keyboard  Electronics       6.0
...         ...         ...          ...       ...          ...       ...
100074    79782        9365    @ david !    Laptop  Accessories       5.0
100082    44707        7179  @ charlie !  Keyboard  Electronics       9.0
100088    50567        7478  @ charlie !   Monitor  Accessories       3.0
100094    40937        2341      @ eva !    Tablet  Accessories       4.0
100099    80766        5705    @ david !    Tablet  Electronics       1.0

          Price  OrderDate             City Region  Returned  TotalAmount  \
15       504.94 2023-03-07     NEW YORK#123   West      True       504.94
21      1188.93 2024-02-27  LOS ANGELES#123  North      True      3566.79
24       898.16 2023-03-01      PHOENIX#123   West     False      3592.64
43       330.45 2024-01-12  LOS ANGELES#123   East     False       991.35
49       822.84 2024-02-22  LOS ANGELES#123  South     False      4937.04
...         ...        ...              ...    ...       ...          ...
100074  1368.47 2023-01-12  LOS ANGELES#123   West     False      6842.35
100082  1125.69 2023-02-22      PHOENIX#123   East     False     10131.21
100088   569.70 2023-01-07      HOUSTON#123  North     False      1709.10
100094   736.55 2024-03-12     NEW YORK#123   East      True      2946.20
100099   760.99 2023-03-26      CHICAGO#123  North     False       760.99

        UnitTotal  DiscountApplied    Year  Month OrderMonth
15         504.94            False  2023.0    3.0      March
21        3566.79            False  2024.0    2.0   February
24        3592.64            False  2023.0    3.0      March
43         991.35            False  2024.0    1.0    January
49        4937.04            False  2024.0    2.0   February
...           ...              ...     ...    ...        ...
100074    6842.35            False  2023.0    1.0    January
100082   10131.21             True  2023.0    2.0   February
100088    1709.10             True  2023.0    1.0    January
100094    2946.20            False  2024.0    3.0      March
100099     760.99            False  2023.0    3.0      March

[19726 rows x 17 columns]

In [ ]:
#23.Count number of orders for each region.
print(sales_data["Region"].value_counts())

Region
East     25098
North    25022
South    24998
West     24882
Name: count, dtype: int64

In [77]:
#24.Display all customers who bought both "Phone" and "Laptop".

print(sales_data[(sales_data["Product"]=="Phone")&(sales_data["Product"]=="Laptop")])

Empty DataFrame
Columns: [OrderID, CustomerID, CustomerName, Product, Category, Quantity, Price, OrderDate, City, Region, Returned, TotalAmount, UnitTotal, DiscountApplied, Year, Month, OrderMonth]
Index: []

In [82]:
#25.Convert all city names to uppercase and restore them back.
backup_city = demograph_data['City'].copy()
demograph_data['City'] = demograph_data['City'].str.upper()
print(demograph_data["City"])
print("\nAfter Restore Back:")
demograph_data['City'] = backup_city
print(demograph_data["City"])

0        LOS ANGELES
1            CHICAGO
2            PHOENIX
3            HOUSTON
4        LOS ANGELES
            ...
94623       NEW YORK
94624        CHICAGO
94625        PHOENIX
94626    LOS ANGELES
94627        CHICAGO
Name: City, Length: 94628, dtype: object

After Restore Back:
0        Los Angeles
1            Chicago
2            Phoenix
3            Houston
4        Los Angeles
            ...
94623       New York
94624        Chicago
94625        Phoenix
94626    Los Angeles
94627        Chicago
Name: City, Length: 94628, dtype: object

In [83]:
#26. Find average price of each category.
print(sales_data.groupby("Category")["Price"].mean())

Category
Accessories    801.420981
Electronics    799.062436
Name: Price, dtype: float64

In [84]:
#27.Use groupby() to find total sales by Region.
print(sales_data.groupby("Region")["TotalAmount"].sum())

Region
East     99576789.10
North    98930659.21
South    99021836.16
West     98369402.78
Name: TotalAmount, dtype: float64

In [86]:
#28. Save only East region data to a CSV file.
east_region_data = sales_data[sales_data['Region'] == 'East']
east_region_data.to_csv('east_region_data.csv', index=False)

In [87]:
#29. Reset and set index using OrderID.
sales_data.reset_index(drop=True, inplace=True)
sales_data.set_index('OrderID', inplace=True)
print(sales_data)

         CustomerID CustomerName   Product     Category  Quantity    Price  \
OrderID
44770          8192  @ charlie !  Keyboard  Electronics       1.0   870.54
23355          9138  @ charlie !   Monitor  Electronics       5.0   144.02
75847          4098  @ charlie !    Laptop  Accessories       3.0   557.79
95176          2391      @ eva !   Monitor  Electronics       5.0   552.20
1854           8842      @ eva !    Laptop  Accessories       4.0   411.20
...             ...          ...       ...          ...       ...      ...
95426          5376    @ alice !  Keyboard  Electronics       2.0   468.67
77181          6047    @ alice !  Keyboard  Accessories       5.0  1350.58
7354           2439      @ bob !    Laptop  Electronics       8.0   330.46
52126          2810    @ alice !  Keyboard  Electronics       7.0   361.90
80766          5705    @ david !    Tablet  Electronics       1.0   760.99

         OrderDate             City Region  Returned  TotalAmount  UnitTotal  \
OrderID
44770          NaT      PHOENIX#123  South     False       870.54     870.54
23355   2024-05-02      HOUSTON#123   West     False       720.10     720.10
75847   2024-11-08     NEW YORK#123   East     False      1673.37    1673.37
95176          NaT      CHICAGO#123  North     False      2761.00    2761.00
1854           NaT      CHICAGO#123   East     False      1644.80    1644.80
...            ...              ...    ...       ...          ...        ...
95426   2023-08-14          Unknown   West     False       937.34     937.34
77181          NaT      CHICAGO#123  South      True      6752.90    6752.90
7354    2024-10-05  LOS ANGELES#123   East     False      2643.68    2643.68
52126   2023-10-22     NEW YORK#123   West     False      2533.30    2533.30
80766   2023-03-26      CHICAGO#123  North     False       760.99     760.99

         DiscountApplied    Year  Month OrderMonth
OrderID
44770              False     NaN    NaN        NaN
23355              False  2024.0    5.0        May
75847              False  2024.0   11.0   November
95176              False     NaN    NaN        NaN
1854               False     NaN    NaN        NaN
...                  ...     ...    ...        ...
95426              False  2023.0    8.0     August
77181              False     NaN    NaN        NaN
7354               False  2024.0   10.0    October
52126              False  2023.0   10.0    October
80766              False  2023.0    3.0      March

[100000 rows x 16 columns]

In [91]:
#30.Display all orders placed on a weekend.
sales_data['Weekday'] = sales_data['OrderDate'].dt.weekday  # 0=Mon  6=Sun
weekend_orders = sales_data[sales_data['Weekday'] >= 5]
weekend_orders

,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,UnitTotal,DiscountApplied,Year,Month,OrderMonth,Weekday
OrderID,,,,,,,,,,,,,,,,,
56788,6935,@ david !,Monitor,Electronics,1.0,415.12,2024-10-06,LOS ANGELES#123,West,False,415.12,415.12,False,2024.0,10.0,October,6.0
79506,3389,@ alice !,Phone,Accessories,9.0,674.73,2024-07-14,HOUSTON#123,North,True,6072.57,6072.57,False,2024.0,7.0,July,6.0
55148,1287,@ david !,Laptop,Accessories,2.0,330.38,2024-09-01,HOUSTON#123,East,False,660.76,660.76,False,2024.0,9.0,September,6.0
24564,3745,@ bob !,Tablet,Accessories,8.0,686.34,2023-04-23,PHOENIX#123,North,False,5490.72,5490.72,False,2023.0,4.0,April,6.0
60114,6368,@ alice !,Laptop,Accessories,3.0,512.79,2023-08-05,NEW YORK#123,North,False,1538.37,1538.37,False,2023.0,8.0,August,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87473,6459,@ eva !,Phone,Electronics,7.0,971.50,2023-12-10,PHOENIX#123,South,False,6800.50,6800.50,False,2023.0,12.0,December,6.0
46252,4130,@ bob !,Phone,Accessories,7.0,348.02,2024-06-01,CHICAGO#123,South,False,2436.14,2436.14,False,2024.0,6.0,June,5.0
7354,2439,@ bob !,Laptop,Electronics,8.0,330.46,2024-10-05,LOS ANGELES#123,East,False,2643.68,2643.68,False,2024.0,10.0,October,5.0
52126,2810,@ alice !,Keyboard,Electronics,7.0,361.90,2023-10-22,NEW YORK#123,West,False,2533.30,2533.30,False,2023.0,10.0,October,6.0
80766,5705,@ david !,Tablet,Electronics,1.0,760.99,2023-03-26,CHICAGO#123,North,False,760.99,760.99,False,2023.0,3.0,March,6.0

In [93]:
#31.Create a pivot table of TotalAmount by Region and Category.
pivot_tbl = sales_data.pivot_table(
    index='Region',
    columns='Category',
    values='TotalAmount',
    aggfunc='sum',
    fill_value=0
)
print(pivot_tbl)

Category  Accessories  Electronics
Region
East      48596869.16  49141938.16
North     48243633.69  48498063.95
South     48628318.04  48338803.01
West      48250060.38  48238382.34

In [95]:
#32.Unpivot (melt) the pivot table from Task 31.
melted = pivot_tbl.reset_index().melt(
    id_vars='Region',
    var_name='Category',
    value_name='TotalAmount'
)
print(melted)

  Region     Category  TotalAmount
0   East  Accessories  48596869.16
1  North  Accessories  48243633.69
2  South  Accessories  48628318.04
3   West  Accessories  48250060.38
4   East  Electronics  49141938.16
5  North  Electronics  48498063.95
6  South  Electronics  48338803.01
7   West  Electronics  48238382.34

In [98]:
#33.Use groupby() to get average Price by Product and Region.
# assume columns: ['Product', 'Region', 'Price', ...]
avg_price = sales_data.groupby(['Product', 'Region'], as_index=False)['Price'].mean()
avg_price = avg_price.rename(columns={'Price': 'AvgPrice'})
print(avg_price)

     Product Region    AvgPrice
0   Keyboard   East  792.649425
1   Keyboard  North  799.906062
2   Keyboard  South  802.524754
3   Keyboard   West  792.697716
4     Laptop   East  804.822406
5     Laptop  North  814.809734
6     Laptop  South  801.743241
7     Laptop   West  793.771419
8    Monitor   East  802.998165
9    Monitor  North  788.871712
10   Monitor  South  793.018953
11   Monitor   West  803.615438
12     Phone   East  793.711529
13     Phone  North  800.648342
14     Phone  South  805.597180
15     Phone   West  801.076021
16    Tablet   East  812.075704
17    Tablet  North  807.827802
18    Tablet  South  798.590844
19    Tablet   West  796.121233

In [100]:
#34.Use .agg() to get min, max, and mean quantity for each category.
agg_result = sales_data.groupby('Category')['Quantity'].agg(['min', 'max', 'mean'])
print(agg_result)

             min  max      mean
Category
Accessories  1.0  9.0  4.995242
Electronics  1.0  9.0  4.979252

In [103]:
#35.Create a lookup table for CustomerID and CustomerName and remove duplicates.
lookup_table =sales_data[['CustomerID', 'CustomerName']].drop_duplicates()
print(lookup_table)

         CustomerID CustomerName
OrderID
44770          8192  @ charlie !
23355          9138  @ charlie !
75847          4098  @ charlie !
95176          2391      @ eva !
1854           8842      @ eva !
...             ...          ...
34988          8276      @ bob !
25398          4222      @ eva !
11600          8960      @ bob !
74218          6732      @ eva !
6769           5466      @ eva !

[40134 rows x 2 columns]

In [106]:
#36.Create a lookup for Product and Category, remove duplicates.
product_category_lookup = sales_data[['Product', 'Category']].drop_duplicates()
print(product_category_lookup)

          Product     Category
OrderID
44770    Keyboard  Electronics
23355     Monitor  Electronics
75847      Laptop  Accessories
63473      Tablet  Electronics
79506       Phone  Accessories
24564      Tablet  Accessories
36423      Laptop  Electronics
13329    Keyboard  Accessories
87250       Phone  Electronics
86704     Monitor  Accessories
3622      Monitor          NaN
61985         NaN  Accessories
49140         NaN  Electronics
26070      Tablet          NaN
53242    Keyboard          NaN
37358      Laptop          NaN
38979       Phone          NaN
15972         NaN          NaN

In [108]:
#37.Merge back the lookups with the main file (simulate master lookup join).
merged_data = pd.merge(sales_data, lookup_table, on='CustomerID', how='left')
merged_data = pd.merge(merged_data, product_category_lookup, on='Product', how='left')
merged_data

,CustomerID,CustomerName_x,Product,Category_x,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,UnitTotal,DiscountApplied,Year,Month,OrderMonth,Weekday,CustomerName_y,Category_y
0,8192,@ charlie !,Keyboard,Electronics,1.0,870.54,NaT,PHOENIX#123,South,False,870.54,870.54,False,NaN,NaN,NaN,NaN,@ charlie !,Electronics
1,8192,@ charlie !,Keyboard,Electronics,1.0,870.54,NaT,PHOENIX#123,South,False,870.54,870.54,False,NaN,NaN,NaN,NaN,@ charlie !,Accessories
2,8192,@ charlie !,Keyboard,Electronics,1.0,870.54,NaT,PHOENIX#123,South,False,870.54,870.54,False,NaN,NaN,NaN,NaN,@ charlie !,NaN
3,8192,@ charlie !,Keyboard,Electronics,1.0,870.54,NaT,PHOENIX#123,South,False,870.54,870.54,False,NaN,NaN,NaN,NaN,@ eva !,Electronics
4,8192,@ charlie !,Keyboard,Electronics,1.0,870.54,NaT,PHOENIX#123,South,False,870.54,870.54,False,NaN,NaN,NaN,NaN,@ eva !,Accessories
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369468,5705,@ david !,Tablet,Electronics,1.0,760.99,2023-03-26,CHICAGO#123,North,False,760.99,760.99,False,2023.0,3.0,March,6.0,@ eva !,Accessories
1369469,5705,@ david !,Tablet,Electronics,1.0,760.99,2023-03-26,CHICAGO#123,North,False,760.99,760.99,False,2023.0,3.0,March,6.0,@ eva !,NaN
1369470,5705,@ david !,Tablet,Electronics,1.0,760.99,2023-03-26,CHICAGO#123,North,False,760.99,760.99,False,2023.0,3.0,March,6.0,@ alice !,Electronics
1369471,5705,@ david !,Tablet,Electronics,1.0,760.99,2023-03-26,CHICAGO#123,North,False,760.99,760.99,False,2023.0,3.0,March,6.0,@ alice !,Accessories
1369472,5705,@ david !,Tablet,Electronics,1.0,760.99,2023-03-26,CHICAGO#123,North,False,760.99,760.99,False,2023.0,3.0,March,6.0,@ alice !,NaN

In [109]:
#38.Compare the original and merged DataFrames  are all rows retained?
print("Original DataFrame:")
print(sales_data)
print("\nMerged DataFrame:")
print(merged_data)

Original DataFrame:
         CustomerID CustomerName   Product     Category  Quantity    Price  \
OrderID
44770          8192  @ charlie !  Keyboard  Electronics       1.0   870.54
23355          9138  @ charlie !   Monitor  Electronics       5.0   144.02
75847          4098  @ charlie !    Laptop  Accessories       3.0   557.79
95176          2391      @ eva !   Monitor  Electronics       5.0   552.20
1854           8842      @ eva !    Laptop  Accessories       4.0   411.20
...             ...          ...       ...          ...       ...      ...
95426          5376    @ alice !  Keyboard  Electronics       2.0   468.67
77181          6047    @ alice !  Keyboard  Accessories       5.0  1350.58
7354           2439      @ bob !    Laptop  Electronics       8.0   330.46
52126          2810    @ alice !  Keyboard  Electronics       7.0   361.90
80766          5705    @ david !    Tablet  Electronics       1.0   760.99

         OrderDate             City Region  Returned  TotalAmount  UnitTotal  \
OrderID
44770          NaT      PHOENIX#123  South     False       870.54     870.54
23355   2024-05-02      HOUSTON#123   West     False       720.10     720.10
75847   2024-11-08     NEW YORK#123   East     False      1673.37    1673.37
95176          NaT      CHICAGO#123  North     False      2761.00    2761.00
1854           NaT      CHICAGO#123   East     False      1644.80    1644.80
...            ...              ...    ...       ...          ...        ...
95426   2023-08-14          Unknown   West     False       937.34     937.34
77181          NaT      CHICAGO#123  South      True      6752.90    6752.90
7354    2024-10-05  LOS ANGELES#123   East     False      2643.68    2643.68
52126   2023-10-22     NEW YORK#123   West     False      2533.30    2533.30
80766   2023-03-26      CHICAGO#123  North     False       760.99     760.99

         DiscountApplied    Year  Month OrderMonth  Weekday
OrderID
44770              False     NaN    NaN        NaN      NaN
23355              False  2024.0    5.0        May      3.0
75847              False  2024.0   11.0   November      4.0
95176              False     NaN    NaN        NaN      NaN
1854               False     NaN    NaN        NaN      NaN
...                  ...     ...    ...        ...      ...
95426              False  2023.0    8.0     August      0.0
77181              False     NaN    NaN        NaN      NaN
7354               False  2024.0   10.0    October      5.0
52126              False  2023.0   10.0    October      6.0
80766              False  2023.0    3.0      March      6.0

[100000 rows x 17 columns]

Merged DataFrame:
         CustomerID CustomerName_x   Product   Category_x  Quantity   Price  \
0              8192    @ charlie !  Keyboard  Electronics       1.0  870.54
1              8192    @ charlie !  Keyboard  Electronics       1.0  870.54
2              8192    @ charlie !  Keyboard  Electronics       1.0  870.54
3              8192    @ charlie !  Keyboard  Electronics       1.0  870.54
4              8192    @ charlie !  Keyboard  Electronics       1.0  870.54
...             ...            ...       ...          ...       ...     ...
1369468        5705      @ david !    Tablet  Electronics       1.0  760.99
1369469        5705      @ david !    Tablet  Electronics       1.0  760.99
1369470        5705      @ david !    Tablet  Electronics       1.0  760.99
1369471        5705      @ david !    Tablet  Electronics       1.0  760.99
1369472        5705      @ david !    Tablet  Electronics       1.0  760.99

         OrderDate         City Region  Returned  TotalAmount  UnitTotal  \
0              NaT  PHOENIX#123  South     False       870.54     870.54
1              NaT  PHOENIX#123  South     False       870.54     870.54
2              NaT  PHOENIX#123  South     False       870.54     870.54
3              NaT  PHOENIX#123  South     False       870.54     870.54
4              NaT  PHOENIX#123  South     False       870.54     870.54
...            ...          ...    ...       ...          ...        ...
1369468 2023-03-26  CHICAGO#123  North     False       760.99     760.99
1369469 2023-03-26  CHICAGO#123  North     False       760.99     760.99
1369470 2023-03-26  CHICAGO#123  North     False       760.99     760.99
1369471 2023-03-26  CHICAGO#123  North     False       760.99     760.99
1369472 2023-03-26  CHICAGO#123  North     False       760.99     760.99

         DiscountApplied    Year  Month OrderMonth  Weekday CustomerName_y  \
0                  False     NaN    NaN        NaN      NaN    @ charlie !
1                  False     NaN    NaN        NaN      NaN    @ charlie !
2                  False     NaN    NaN        NaN      NaN    @ charlie !
3                  False     NaN    NaN        NaN      NaN        @ eva !
4                  False     NaN    NaN        NaN      NaN        @ eva !
...                  ...     ...    ...        ...      ...            ...
1369468            False  2023.0    3.0      March      6.0        @ eva !
1369469            False  2023.0    3.0      March      6.0        @ eva !
1369470            False  2023.0    3.0      March      6.0      @ alice !
1369471            False  2023.0    3.0      March      6.0      @ alice !
1369472            False  2023.0    3.0      March      6.0      @ alice !

          Category_y
0        Electronics
1        Accessories
2                NaN
3        Electronics
4        Accessories
...              ...
1369468  Accessories
1369469          NaN
1369470  Electronics
1369471  Accessories
1369472          NaN

[1369473 rows x 19 columns]

In [110]:
#39.Calculate return rate % by region (total returned orders / total orders).
return_rate_by_region = sales_data.groupby('Region')['Returned'].mean() * 100
return_rate_by_region

Region
East     10.092438
North     9.783391
South     9.752780
West      9.826381
Name: Returned, dtype: float64

In [111]:
#51.Create a new column DiscountedPrice assuming a flat 10% discount on all products.
sales_data['DiscountedPrice'] = sales_data['Price'] * 0.9
sales_data

,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,UnitTotal,DiscountApplied,Year,Month,OrderMonth,Weekday,DiscountedPrice
OrderID,,,,,,,,,,,,,,,,,,
44770,8192,@ charlie !,Keyboard,Electronics,1.0,870.54,NaT,PHOENIX#123,South,False,870.54,870.54,False,NaN,NaN,NaN,NaN,783.486
23355,9138,@ charlie !,Monitor,Electronics,5.0,144.02,2024-05-02,HOUSTON#123,West,False,720.10,720.10,False,2024.0,5.0,May,3.0,129.618
75847,4098,@ charlie !,Laptop,Accessories,3.0,557.79,2024-11-08,NEW YORK#123,East,False,1673.37,1673.37,False,2024.0,11.0,November,4.0,502.011
95176,2391,@ eva !,Monitor,Electronics,5.0,552.20,NaT,CHICAGO#123,North,False,2761.00,2761.00,False,NaN,NaN,NaN,NaN,496.980
1854,8842,@ eva !,Laptop,Accessories,4.0,411.20,NaT,CHICAGO#123,East,False,1644.80,1644.80,False,NaN,NaN,NaN,NaN,370.080
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95426,5376,@ alice !,Keyboard,Electronics,2.0,468.67,2023-08-14,Unknown,West,False,937.34,937.34,False,2023.0,8.0,August,0.0,421.803
77181,6047,@ alice !,Keyboard,Accessories,5.0,1350.58,NaT,CHICAGO#123,South,True,6752.90,6752.90,False,NaN,NaN,NaN,NaN,1215.522
7354,2439,@ bob !,Laptop,Electronics,8.0,330.46,2024-10-05,LOS ANGELES#123,East,False,2643.68,2643.68,False,2024.0,10.0,October,5.0,297.414
52126,2810,@ alice !,Keyboard,Electronics,7.0,361.90,2023-10-22,NEW YORK#123,West,False,2533.30,2533.30,False,2023.0,10.0,October,6.0,325.710
80766,5705,@ david !,Tablet,Electronics,1.0,760.99,2023-03-26,CHICAGO#123,North,False,760.99,760.99,False,2023.0,3.0,March,6.0,684.891

In [127]:
#53.Calculate the cumulative revenue for each Region sorted by OrderDate.
sales_data = sales_data.sort_values(['Region', 'OrderDate']).reset_index() # Changed drop=True to default (drop=False)
sales_data['CumulativeRevenueByRegion'] = sales_data.groupby('Region')['TotalAmount'].cumsum()
print(sales_data)

       index  CustomerID CustomerName   Product     Category  Quantity  \
0          0        3768    @ alice !     Phone  Electronics       3.0
1          1        3077  @ charlie !   Monitor  Accessories       6.0
2          2        5142      @ eva !     Phone  Accessories       9.0
3          3        1615    @ alice !    Tablet  Accessories       2.0
4          4        8549      @ eva !   Monitor  Electronics       4.0
...      ...         ...          ...       ...          ...       ...
99995  99995        9972      @ bob !  Keyboard  Electronics       2.0
99996  99996        8936    @ david !    Tablet  Accessories       3.0
99997  99997        2677    @ alice !     Phone  Accessories       1.0
99998  99998        3467      @ eva !    Laptop  Accessories       4.0
99999  99999        5902      @ bob !    Laptop  Electronics       9.0

         Price  OrderDate             City Region  Returned  TotalAmount  \
0       259.36 2023-01-01      CHICAGO#123   East      True       778.08
1      1149.91 2023-01-01  LOS ANGELES#123   East     False      6899.46
2       478.04 2023-01-01      PHOENIX#123   East     False      4302.36
3      1427.44 2023-01-01      HOUSTON#123   East     False      2854.88
4       604.53 2023-01-01          Unknown   East     False      2418.12
...        ...        ...              ...    ...       ...          ...
99995  1154.12        NaT      PHOENIX#123   West     False      2308.24
99996  1309.43        NaT      HOUSTON#123   West     False      3928.29
99997   510.32        NaT     NEW YORK#123   West     False       510.32
99998   274.01        NaT  LOS ANGELES#123   West     False      1096.04
99999   618.35        NaT  LOS ANGELES#123   West     False      5565.15

       UnitTotal  DiscountApplied    Year  Month OrderMonth  Weekday  \
0         778.08            False  2023.0    1.0    January      6.0
1        6899.46            False  2023.0    1.0    January      6.0
2        4302.36            False  2023.0    1.0    January      6.0
3        2854.88            False  2023.0    1.0    January      6.0
4        2418.12            False  2023.0    1.0    January      6.0
...          ...              ...     ...    ...        ...      ...
99995    2308.24            False     NaN    NaN        NaN      NaN
99996    3928.29            False     NaN    NaN        NaN      NaN
99997     510.32            False     NaN    NaN        NaN      NaN
99998    1096.04            False     NaN    NaN        NaN      NaN
99999    5565.15            False     NaN    NaN        NaN      NaN

       DiscountedPrice  CumulativeRevenueByRegion
0              233.424                     778.08
1             1034.919                    7677.54
2              430.236                   11979.90
3             1284.696                   14834.78
4              544.077                   17252.90
...                ...                        ...
99995         1038.708                98358302.98
99996         1178.487                98362231.27
99997          459.288                98362741.59
99998          246.609                98363837.63
99999          556.515                98369402.78

[100000 rows x 20 columns]

In [128]:
#54.Rank customers by their total revenue generated (TotalAmount) in descending order
customer_rank = sales_data.groupby('CustomerID')['TotalAmount'].sum().reset_index()
customer_rank['Rank'] = customer_rank['TotalAmount'].rank(ascending=False, method='min')
customer_rank.head(20)

    CustomerID  TotalAmount    Rank
0         1000     46434.37  3652.0
1         1001     43657.82  4234.0
2         1002     26351.27  7735.0
3         1003     40095.51  5022.0
4         1004     20623.99  8388.0
5         1005     48673.73  3196.0
6         1006     58988.01  1618.0
7         1007     44664.16  4006.0
8         1008     27927.57  7511.0
9         1009     37690.88  5579.0
10        1010     41778.69  4649.0
11        1011     74857.04   421.0
12        1012     46828.70  3565.0
13        1013     39714.72  5109.0
14        1014     41252.53  4770.0
15        1015     24963.22  7937.0
16        1016     62266.72  1274.0
17        1017     42515.72  4475.0
18        1018     50271.35  2899.0
19        1019     37375.26  5654.0

In [129]:
#55.Calculate the average order value per customer using groupby().
avg_order_value = sales_data.groupby('CustomerID')['TotalAmount'].mean().reset_index()
avg_order_value

      CustomerID  TotalAmount
0           1000  3316.740714
1           1001  2728.613750
2           1002  3293.908750
3           1003  2863.965000
4           1004  2291.554444
...          ...          ...
8994        9994  4331.444375
8995        9995  4778.646190
8996        9996  4078.016364
8997        9997  4062.555000
8998        9998  5318.008421

[8999 rows x 2 columns]

In [130]:
#56. Generate a report showing total quantity sold per Category per Region.
quantity_by_category_region = sales_data.groupby(['Category', 'Region'])['Quantity'].sum().reset_index()
quantity_by_category_region

      Category Region  Quantity
0  Accessories   East   60655.0
1  Accessories  North   60266.0
2  Accessories  South   60689.0
3  Accessories   West   59860.0
4  Electronics   East   61020.0
5  Electronics  North   60393.0
6  Electronics  South   60429.0
7  Electronics   West   60548.0

In [131]:
#57.Use .agg() to compute multiple stats (sum, mean, min, max) for TotalAmount per Region.
stats_by_region = sales_data.groupby('Region')['TotalAmount'].agg(['sum', 'mean', 'min', 'max']).reset_index()
stats_by_region

  Region          sum         mean     min       max
0   East  99576789.10  4006.630552  100.07  13492.53
1  North  98930659.21  3996.875372  100.19  13491.45
2  South  99021836.16  4000.882269  101.10  13492.80
3   West  98369402.78  3991.454769  100.34  13499.91

In [135]:
#58.Create a summary DataFrame showing each customers: total orders, total amount spent, and total products bought.
customer_summary = sales_data.groupby('CustomerID').agg(
        TotalOrders=('index','nunique'),
        TotalAmountSpent=('TotalAmount','sum'),
        TotalProductsBought=('Quantity','sum')
    ).reset_index()
customer_summary = customer_summary.sort_values('TotalAmountSpent', ascending=False)

print(customer_summary)

      CustomerID  TotalOrders  TotalAmountSpent  TotalProductsBought
8095        9095           23         121916.87                124.0
645         1645           24         120110.38                129.0
5599        6599           22         113922.83                127.0
6054        7054           21         113280.38                105.0
987         1987           22         109989.16                127.0
...          ...          ...               ...                  ...
856         1856            2           4980.05                  8.0
4028        5028            4           4783.02                 13.0
7324        8324            2           4254.91                  9.0
3054        4054            4           4039.43                 17.0
6829        7829            3           2572.70                  4.0

[8999 rows x 4 columns]

In [138]:
#59.Convert the OrderDate to datetime and extract new columns: Year, Month, and Weekday.
sales_data['Year'] = sales_data['OrderDate'].dt.year
sales_data['Month'] = sales_data['OrderDate'].dt.month
sales_data['MonthName'] = sales_data['OrderDate'].dt.month_name()
sales_data['Weekday'] = sales_data['OrderDate'].dt.day_name()

print(sales_data.loc[:, ['OrderDate','Year','Month','MonthName','Weekday']])

       OrderDate    Year  Month MonthName Weekday
0     2023-01-01  2023.0    1.0   January  Sunday
1     2023-01-01  2023.0    1.0   January  Sunday
2     2023-01-01  2023.0    1.0   January  Sunday
3     2023-01-01  2023.0    1.0   January  Sunday
4     2023-01-01  2023.0    1.0   January  Sunday
...          ...     ...    ...       ...     ...
99995        NaT     NaN    NaN       NaN     NaN
99996        NaT     NaN    NaN       NaN     NaN
99997        NaT     NaN    NaN       NaN     NaN
99998        NaT     NaN    NaN       NaN     NaN
99999        NaT     NaN    NaN       NaN     NaN

[100000 rows x 5 columns]

In [141]:
#66. Extract only the first name from the CustomerName column.
sales_data['FirstName'] = sales_data['CustomerName'].str.strip().str.split().str[0]
print(sales_data['FirstName'])

0        @
1        @
2        @
3        @
4        @
        ..
99995    @
99996    @
99997    @
99998    @
99999    @
Name: FirstName, Length: 100000, dtype: object

In [142]:
#77.Create a column HighValueOrder where TotalAmount > 5000.
sales_data['HighValueOrder'] = sales_data['TotalAmount'] > 5000
print(sales_data['HighValueOrder'])

0        False
1         True
2        False
3        False
4        False
         ...
99995    False
99996    False
99997    False
99998    False
99999     True
Name: HighValueOrder, Length: 100000, dtype: bool

In [144]:
#78. Flag suspicious orders where Quantity > 10 and Price > 1000.
sales_data['SuspiciousOrder'] = (sales_data['Quantity'] > 10) & (sales_data['Price'] > 1000).astype(int)
print(sales_data['SuspiciousOrder'])

0        False
1        False
2        False
3        False
4        False
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Name: SuspiciousOrder, Length: 100000, dtype: bool

In [147]:
#81.Use pivot_table() to summarize TotalAmount by Region and Category.
pivot_amount = sales_data.pivot_table(
    index='Region',
    columns='Category',
    values='TotalAmount',
    aggfunc='sum',
    fill_value=0
)
print(pivot_amount)

Category  accessories  electronics         nan
Region
east      48596869.16  49141938.16  1837981.78
north     48243633.69  48498063.95  2188961.57
south     48628318.04  48338803.01  2054715.11
west      48250060.38  48238382.34  1880960.06

In [148]:
#82.Create a column to show each order's percentage of the total monthly revenue.
sales_data['MonthlyRevenue'] = sales_data.groupby('OrderMonth')['TotalAmount'].transform('sum')
sales_data

,index,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,...,OrderMonth,Weekday,DiscountedPrice,CumulativeRevenueByRegion,MonthName,WeekOfYear,FirstName,HighValueOrder,SuspiciousOrder,MonthlyRevenue
0,0,3768,alice,phone,electronics,3.0,259.36,2023-01-01,chicago123,east,...,january,sunday,233.424,778.08,january,52,,False,False,27500150.66
1,1,3077,charlie,monitor,accessories,6.0,1149.91,2023-01-01,los angeles123,east,...,january,sunday,1034.919,7677.54,january,52,,True,False,27500150.66
2,2,5142,eva,phone,accessories,9.0,478.04,2023-01-01,phoenix123,east,...,january,sunday,430.236,11979.90,january,52,,False,False,27500150.66
3,3,1615,alice,tablet,accessories,2.0,1427.44,2023-01-01,houston123,east,...,january,sunday,1284.696,14834.78,january,52,,False,False,27500150.66
4,4,8549,eva,monitor,electronics,4.0,604.53,2023-01-01,unknown,east,...,january,sunday,544.077,17252.90,january,52,,False,False,27500150.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,9972,bob,keyboard,electronics,2.0,1154.12,NaT,phoenix123,west,...,nan,nan,1038.708,98358302.98,nan,<NA>,,False,False,79678910.93
99996,99996,8936,david,tablet,accessories,3.0,1309.43,NaT,houston123,west,...,nan,nan,1178.487,98362231.27,nan,<NA>,,False,False,79678910.93
99997,99997,2677,alice,phone,accessories,1.0,510.32,NaT,new york123,west,...,nan,nan,459.288,98362741.59,nan,<NA>,,False,False,79678910.93
99998,99998,3467,eva,laptop,accessories,4.0,274.01,NaT,los angeles123,west,...,nan,nan,246.609,98363837.63,nan,<NA>,,False,False,79678910.93
99999,99999,5902,bob,laptop,electronics,9.0,618.35,NaT,los angeles123,west,...,nan,nan,556.515,98369402.78,nan,<NA>,,True,False,79678910.93

In [150]:
#86.Create a customer lookup DataFrame with unique CustomerID, CustomerName, and total orders. Save it.
sales = pd.read_csv("Advanced_Dirty_Sales_Dataset.csv")

customer_lookup = (
    sales.groupby(['CustomerID', 'CustomerName'])['OrderID']
         .nunique()
         .reset_index()
         .rename(columns={'OrderID': 'TotalCustomerOrders'}))

customer_lookup.to_csv("customer_lookup.csv", index=False)
print(customer_lookup.head())

   CustomerID CustomerName  TotalCustomerOrders
0        1000    @ alice !                    1
1        1000      @ bob !                    1
2        1000  @ charlie !                    4
3        1000    @ david !                    5
4        1000      @ eva !                    3

In [155]:
#87.Create a product lookup DataFrame with unique Product, Category, and average Price. Save it.
sales = pd.read_csv("Advanced_Dirty_Sales_Dataset.csv")
sales['Price'] = sales['Price'].astype(str).str.replace('$', '', regex=False).astype(float)

product_lookup = (
    sales.groupby(['Product', 'Category'])['Price']
         .mean()
         .reset_index()
         .rename(columns={'Price': 'AvgProductPrice'}))

product_lookup.to_csv("product_lookup.csv", index=False)

In [157]:
#88. Merge the original dataset with both lookups.
merged_1 = sales.merge(customer_lookup, on=['CustomerID', 'CustomerName'], how='left')
merged_2 = merged_1.merge(product_lookup, on=['Product', 'Category'], how='left')

In [161]:
#89. After merge, create a master file with these columns: OrderID, OrderDate,CustomerName, Product, Category, Price, Quantity, TotalAmount, Returned, and theAvgProductPrice and TotalCustomerOrders from lookup tables.
master_file = merged_2[
    [
        'OrderID',
        'OrderDate',
        'CustomerName',
        'Product',
        'Category',
        'Price',
        'Quantity',
        'TotalAmount',
        'Returned',
        'AvgProductPrice',
        'TotalCustomerOrders'
    ]
]

master_file.to_csv("master_sales_file.csv", index=False)
print(master_file)

        OrderID         OrderDate CustomerName   Product     Category  \
0         44770        32/13/2023  @ charlie !  Keyboard  Electronics
1         23355        05-02-2024  @ charlie !   Monitor  Electronics
2         75847        11/08/2024  @ charlie !    Laptop  Accessories
3         95176        32/13/2023      @ eva !   Monitor  Electronics
4          1854        32/13/2023      @ eva !    Laptop  Accessories
...         ...               ...          ...       ...          ...
100095    95426        2023-08-14    @ alice !  Keyboard  Electronics
100096    77181        32/13/2023    @ alice !  Keyboard  Accessories
100097     7354        2024-10-05      @ bob !    Laptop  Electronics
100098    52126  October 22, 2023    @ alice !  Keyboard  Electronics
100099    80766        26/03/2023    @ david !    Tablet  Electronics

          Price Quantity TotalAmount  Returned  AvgProductPrice  \
0        870.54        1      870.54     False       795.277072
1        144.02        5       720.1     False       797.246292
2        557.79        3     1673.37     False       806.178640
3        552.20        5      2761.0     False       797.246292
4        411.20        4      1644.8     False       806.178640
...         ...      ...         ...       ...              ...
100095   468.67        2      937.34     False       795.277072
100096  1350.58        5      6752.9      True       799.674388
100097   330.46        8     2643.68     False       801.532958
100098   361.90        7      2533.3     False       795.277072
100099   760.99        1      760.99     False       802.036300

        TotalCustomerOrders
0                         4
1                         3
2                         1
3                         4
4                         2
...                     ...
100095                    3
100096                    3
100097                    5
100098                    3
100099                    6

[100100 rows x 11 columns]

In [172]:
#90. Analyze and visualize the top 5 customers and top 5 products contributing to revenue using the master file.
master_file['TotalAmount'] = pd.to_numeric(master_file['TotalAmount'], errors='coerce')

top_customers = (master_file.groupby('CustomerName')['TotalAmount'].sum().sort_values(ascending=False).head(5))
print("\nTop 5 Customers by Revenue:")
print(top_customers)

top_products = (master_file.groupby('Product')['TotalAmount'].sum().sort_values(ascending=False).head(5))
print("\nTop 5 Customers by Revenue:")
print(top_products)

Top 5 Customers by Revenue:
CustomerName
@ bob !        80896672.62
@ eva !        79814447.78
@ alice !      78707718.11
@ david !      78560513.91
@ charlie !    78373265.11
Name: TotalAmount, dtype: float64

Top 5 Customers by Revenue:
Product
Laptop      78613936.05
Phone       78239824.23
Tablet      77892306.22
Keyboard    77302617.71
Monitor     76517390.30
Name: TotalAmount, dtype: float64

/tmp/ipython-input-1790500026.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  master_file['TotalAmount'] = pd.to_numeric(master_file['TotalAmount'], errors='coerce')