<a href="https://colab.research.google.com/github/visalreddy/Python_Assignment/blob/main/PythonPrograms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basic Syntax & IO

In [ ]:
#1.Print "Hello, World!"
print("Hello, World!")

Hello, World!

In [ ]:
#2.Take user input and print it
name = input("Enter your name: ")
print(name)

Enter your name: Visal
Visal

In [ ]:
#3.Swap two variables
a=5
b= 10
a,b=b,a
print("a =", a)
print("b =", b)

a = 10
b = 5

In [ ]:
#4.Check if a number is even or odd
n = int(input("Enter a number: "))
if n % 2==0:
  print(n,"is even")
else:
  print(n,"is odd")

Enter a number: 4
4 is even

In [ ]:
#5.Find the largest of two numbers
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
if a>b:
  print(a,"is greater")
else:
  print(b,"is greater")

Enter first number: 34
Enter second number: 344
344 is greater

Operators

In [ ]:
#1.Perform arithmetic operations (+, -, *, /, %, **), take any values as “a” and “b”
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("Addition:",a+b)
print("Subtraction:",a-b)
print("Multiplication:",a*b)
print("Division:",a/b)
print("Division:",a%b)
print("Power:",a**b)

Enter first number: 324
Enter second number: 32
Addition: 356
Subtraction: 292
Multiplication: 10368
Division: 10.125
Division: 4
Power: 217490517487340961382742893166950969620647214876916403331613367885781133978238976

In [ ]:
#2.Calculate the square and cube of a number.
a = int(input("Enter a number: "))
print("Square:",a**2)
print("Cube:",a**3)

Enter a number: 345
Square: 119025
Cube: 41063625

In [ ]:
#3.Convert Celsius to Fahrenheit (F = (C * 9/5) + 32).
c = float(input("Enter temperature in Celsius: "))
f = (c * 9/5) + 32
print("Temperature in Fahrenheit:", f)

Enter temperature in Celsius: 34
Temperature in Fahrenheit: 93.2

In [ ]:
#4.Convert kilometers to miles (1 km = 0.621371 miles).
km = float(input("Enter distance in kilometers: "))
miles = km * 0.621371
print("Distance in miles:", miles)

Enter distance in kilometers: 234
Distance in miles: 145.400814

In [ ]:
#5.Check if a number is positive, negative, or zero
n = int(input("Enter a number: "))
if n>0:
  print(n,"is positive")
elif n<0:
  print(n,"is negative")
else:
  print(n,"is zero")

Enter a number: 234
234 is positive

Conditional Statements

In [ ]:
#1.Find the largest of three numbers.
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))
if a>b and a>c:
  print(a,"is largest")
elif b>a and b>c:
  print(b,"is largest")
else:
  print(c,"is largest")

Enter first number: 23
Enter second number: 3
Enter third number: 2
23 is largest

In [ ]:
#2.Check if a year is a leap year. A leap year is a year that is divisible by 4, but if it is a
# century year (divisible by 100), it must also be divisible by 400 to be a leap year

n=int(input("Enter a year: "))
if (n%4==0 and n%100!=0) or (n%400==0):
  print(n,"is a leap year")
else:
  print(n,"is not a leap year")

Enter a year: 2222
2222 is not a leap year

In [ ]:
#3.Check if a character is a vowel or consonant.
c = input("Enter a character: ")
if c in "aeiouAEIOU":
  print(c,"is a vowel")
else:
  print(c,"is a consonant")

Enter a character: s
s is a consonant

In [ ]:
#4.Write a Python program to assign the grades to each subject based on the grade scale:
#Student subject marks:
#maths = 85
#science = 78
#english = 92
#Grade scale:
#A: 90-100
#B: 80-89
#C: 70-79
#D: 60-69
#E: 50-59
#F: Below 50

maths = float(input("Enter Maths Marks: "))
science = float(input("Enter Science Marks: "))
english = float(input("Enter English Marks: "))

def grade(m):
    if m >= 90:
        return 'A'
    elif m >= 80:
        return 'B'
    elif m >= 70:
        return 'C'
    elif m >= 60:
        return 'D'
    elif m >= 50:
        return 'E'
    else:
        return 'F'

print("Maths:", grade(maths))
print("Science:", grade(science))
print("English:", grade(english))

Enter Maths Marks: 73
Enter Science Marks: 92
Enter English Marks: 94
Maths: C
Science: A
English: A

In [ ]:
#5.Write a program to check if a number is divisible by both 5 and 11
n = int(input("Enter a number: "))
if n%5==0 and n%11==0:
  print(n,"is divisible by both 5 and 11")
else:
  print(n,"is not divisible by both 5 and 11")

Enter a number: 55
55 is divisible by both 5 and 11

Loops

In [261]:
#1.Print numbers from 1 to the given number N.
n = int(input("Enter a number: "))
for i in range(1,n+1):
  print(i)

Enter a number: 12
1
2
3
4
5
6
7
8
9
10
11
12

In [ ]:
#2.Print even numbers up to the given number N.
n = int(input("Enter a number: "))
for i in range(2,n+1,2):
  print(i)

Enter a number: 23
2
4
6
8
10
12
14
16
18
20
22

In [ ]:
#3.Sum of first N natural numbers (sum = n * (n+1) / 2).
n=int(input("Enter a number: "))
total_sum=n*(n+1)/2
print(total_sum)

Enter a number: 22
253.0

In [ ]:
#4.Calculate the factorial of a number (n! = n × (n-1) × ... × 1) without using def function.
n=int(input("Enter a number: "))
fact=1
for i in range(1,n+1):
  fact=fact*i
print(fact)

Enter a number: 5
120

In [ ]:
#5.Print multiplication table of a number.
n=int(input("Enter a number: "))
for i in range(1,11):
  print(n,"x",i,"=",n*i)

Enter a number: 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Strings

In [ ]:
#1.Write a program to Reverse a given string (at least 2 ways).
s=input("Enter a string: ")
print(s[::-1])

str=""
for i in s:
  str=i+str
print(str)

Enter a string: hello
olleh
olleh

In [ ]:
#2.Count the number of vowels in a string.
s=input("Enter a string: ")
count=0
for i in s:
  if i in "aeiouAEIOU":
    count+=1
print(count)

Enter a string: hello
2

In [ ]:
#3.Check if a string is a palindrome.
s=input("Enter a string: ")
if s==s[::-1]:
  print(s,"is a palindrome")
else:
  print(s,"is not a palindrome")

Enter a string: dad
dad is a palindrome

In [ ]:
#4.Convert uppercase to lowercase and vice versa.
s=input("Enter a string: ")
print(s.swapcase())

Enter a string: visal
VISAL

In [ ]:
#5.Find the length of a string without using len() function.
s=input("Enter a string: ")
count=0
for i in s:
  count+=1
print(count)

Enter a string: efveegfdshthgtfdsx
18

List

In [ ]:
#1.Find the largest element in a list.

l=[1,2,3,4,5]
Largest=max(l)
print(Largest)

5

In [ ]:
#2.Find the smallest element in a list
l=[1,2,3,4,5]
Smallest=min(l)
print(Smallest)

1

In [ ]:
#3.Find the sum of elements in a list
l=[1,2,3,4,5]
sum1=0
for i in l:
  sum1+=i
print(sum1)

15

In [ ]:
#4.Sort a list in ascending order
lst=[12,43,41,25,2]
lst.sort()
print(lst)

[2, 12, 25, 41, 43]

In [ ]:
#5.Remove duplicates from a list
numbers = [1, 2, 2, 3, 4, 4, 5]
unq_list = []
for num in numbers:
    if num not in unq_list:
        unq_list.append(num)
print(unq_list)

[1, 2, 3, 4, 5]

Tuples

In [ ]:
#1.Find the maximum and minimum number in a tuple.
tuple1 = (10, 25, 3, 48, 7)
print("Maximum:", max(tuple1))
print("Minimum:", min(tuple1))

Maximum: 48
Minimum: 3

In [ ]:
#2.Convert a tuple to a list
tuple1 = (10, 25, 3, 48, 7)
lst = list(tuple1)
print(lst)

[10, 25, 3, 48, 7]

In [ ]:
#3.Count occurrences of an element in a tuple
tuple1 = (10, 25, 3, 48, 7, 10, 25, 10)
count = tuple1.count(10)
print(count)

3

In [ ]:
#4.Find the index of an element in a tuple
tuple1 = (10, 25, 3, 48, 7)
index = tuple1.index(25)
print(index)

1

In [ ]:
#5.Reverse a tuple.
tuple1 = (10, 25, 3, 48, 7)
reversed_tuple = tuple1[::-1]
print(reversed_tuple)

(7, 48, 3, 25, 10)

Sets

In [ ]:
#1.Create empty set
set1 = set()
print("Empty set:", set1)

Empty set: set()

In [ ]:
#2.Union of two sets
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
print("Union:", A | B)

Union: {1, 2, 3, 4, 5, 6}

In [ ]:
#3.Intersection of two sets
print("Intersection:", A & B)

Intersection: {3, 4}

In [ ]:
#4.Difference of two sets
print("Difference (A - B):", A - B)

Difference (A - B): {1, 2}

In [ ]:
#5.Check if a set is a subset of another
print("Is A subset of B?", A.issubset(B))

Is A subset of B? False

In [ ]:
#6.Remove an element from a set
A.discard(2)
print("Set A after discarding 2:", A)

Set A after discarding 2: {1, 3, 4}

Dictionaries

In [ ]:
#1.Create a dictionary and print keys & values
student_marks = {"Maths": 85, "Science": 78, "English": 92}
print("Dictionary:", student_marks)
print("Keys:", student_marks.keys())
print("Values:", student_marks.values())

Dictionary: {'Maths': 85, 'Science': 78, 'English': 92}
Keys: dict_keys(['Maths', 'Science', 'English'])
Values: dict_values([85, 78, 92])

In [260]:
#2.Find the sum of dictionary values
sum_of_dict_values = sum(student_marks.values())
print("Sum of values:", sum_of_dict_values)

Sum of values: 255

In [ ]:
#3.Merge two dictionaries
extra_marks = {"History": 88, "Geography": 76}
merged_dict = {**student_marks, **extra_marks}  # Python 3.5+ method
print("Merged Dictionary:", merged_dict)

Merged Dictionary: {'Maths': 85, 'Science': 78, 'English': 92, 'History': 88, 'Geography': 76}

In [ ]:
#4.Sort a dictionary by its values
sorted_dict = dict(sorted(merged_dict.items(), key=lambda item: item[1]))
print("Dictionary sorted by values:", sorted_dict)

Dictionary sorted by values: {'Geography': 76, 'Science': 78, 'Maths': 85, 'History': 88, 'English': 92}

In [ ]:
#5.Count the occurrences of elements in a dictionary.
my_dict = {"apple": 3, "banana": 2, "cherry": 3, "date": 1, "banana": 4}
value_counts = {}
for value in my_dict.values():
  if value in value_counts:
      value_counts[value] += 1
  else:
      value_counts[value] = 1
print("Value counts:", value_counts)

Value counts: {3: 2, 4: 1, 1: 1}

Mathematical Programs

In [ ]:
#1.Check if a number is prime or not.
n = int(input("Enter a number: "))
if n>1:
  for i in range(2,n):
    if n%i==0:
      print(n,"is not a prime number")
      break
  else:
    print(n,"is a prime number")

Enter a number: 43
43 is a prime number

In [ ]:
#2.Find the sum of digits of a number (eg: input: 1234 and output: 10)
num=int(input("Enter a number: "))
sum_of_digits = 0
while num > 0:
  digit = num % 10
  sum_of_digits += digit
  num //= 10
print("Sum of digits:", sum_of_digits)

Enter a number: 234567
Sum of digits: 27

In [ ]:
#3.Find the LCM of two numbers
a, b = 12, 18
def lcm(x, y):
  greater = max(x, y)
  while True:
      if greater % x == 0 and greater % y == 0:
          return greater
      greater += 1
print("LCM:", lcm(a, b))

LCM: 36

In [ ]:
#4.Find the GCD of two numbers
import math
print("GCD:", math.gcd(a, b))

GCD: 6

Functions

In [ ]:
#1.Function to find the sum of two numbers
def add(a, b):
    return a + b
print("Sum:", add(5, 7))

Sum: 12

In [ ]:
#2.Function to return the square of a number
def square(n):
    return n ** 2
print("Square:", square(6))

Square: 36

In [ ]:
#3.Function with default arguments
def greet(name="Guest"):
    print("Hello,", name)
greet()
greet("Visal")

Hello, Guest
Hello, Visal

In [262]:
#4.Function with variable-length arguments
def sum_all(*args):
    return sum(args)
print("Sum of all numbers:", sum_all(1, 2, 3, 4, 5))

Sum of all numbers: 15

In [ ]:
#5.Function that returns multiple values
def operations(a, b):
  return a+b, a-b, a*b, a/b
add_val, sub_val, mul_val, div_val = operations(10, 2)
print("Add:", add_val, "Sub:", sub_val, "Mul:", mul_val, "Div:", div_val)

Add: 12 Sub: 8 Mul: 20 Div: 5.0

Lambda Functions

In [ ]:
#1.Lambda function to add two numbers
add = lambda a, b: a + b
print("Sum:", add(5, 7))

Sum: 12

In [ ]:
#2.Lambda function to find the maximum of two numbers
maximum = lambda a, b: a if a > b else b
print("Maximum:", maximum(10, 20))

Maximum: 20

In [ ]:
#3.Lambda function to square a number
square = lambda x: x**2
print("Square:", square(6))

Square: 36

In [ ]:
#4.Lambda function inside map()
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x**2, numbers))
print("Squared numbers using map():", squared_numbers)

Squared numbers using map(): [1, 4, 9, 16, 25]

In [ ]:
#5.Lambda function inside filter()
even_numbers = list(filter(lambda x: x%2==0, numbers))
print("Even numbers using filter():", even_numbers)

Even numbers using filter(): [2, 4]

List Comprehensions

In [ ]:
#1.Generate a list of squares
numbers = [1, 2, 3, 4, 5, 8]
squares = [x**2 for x in numbers]
print("Squares:", squares)

Squares: [1, 4, 9, 16, 25, 64]

In [ ]:
#2.Generate a list of even numbers
numbers = [1, 2, 3, 4, 5, 8]
evens = [x for x in numbers if x % 2 == 0]
print("Even numbers:", evens)

Even numbers: [2, 4, 8]

In [ ]:
#3.Reverse a list
reversed_list = [numbers[i] for i in range(len(numbers)-1, -1, -1)]
print("Reversed list:", reversed_list)

Reversed list: [8, 5, 4, 3, 2, 1]

In [ ]:
#4.Flatten a nested list
nested_list = [[1, 2], [3, 4], [5]]
flattened = [item for sublist in nested_list for item in sublist]
print("Flattened list:", flattened)

Flattened list: [1, 2, 3, 4, 5]

In [ ]:
#5.Find common elements in two lists
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
common = [x for x in list1 if x in list2]
print("Common elements:", common)

Common elements: [3, 4]

Miscellaneous

In [ ]:
#1.Swap two numbers without using a third variable
a, b = 5, 10
a, b = b, a
print("After swapping: a =", a, "b =", b)

After swapping: a = 10 b = 5

In [ ]:
#2.Count occurrences of each word in a sentence
sentence = "hello world hello python"
words = sentence.split()
word_count = {}
for word in words:
    word_count[word] = word_count.get(word, 0) + 1
print("Word occurrences:", word_count)

Word occurrences: {'hello': 2, 'world': 1, 'python': 1}

In [ ]:
#3.Find the second largest number in a list
numbers = [10, 20, 4, 45, 99]
unique_numbers = list(set(numbers))
unique_numbers.sort()
second_largest = unique_numbers[-2]
print("Second largest number:", second_largest)

Second largest number: 45

In [ ]:
#4.Check if two strings are anagrams
str1 = "listen"
str2 = "silent"
if sorted(str1) == sorted(str2):
  print(str1, "and", str2, "are anagrams")
else:
  print(str1, "and", str2, "are not anagrams")

listen and silent are anagrams

In [ ]:
#5.Print Pascal's Triangle.

rows = int(input("Enter number of rows: "))
for i in range(rows):
  val = 1
  for j in range(i + 1):
      print(val, end=" ")
      val = val * (i - j) // (j + 1)
  print()

Enter number of rows: 13
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1
1 7 21 35 35 21 7 1
1 8 28 56 70 56 28 8 1
1 9 36 84 126 126 84 36 9 1
1 10 45 120 210 252 210 120 45 10 1
1 11 55 165 330 462 462 330 165 55 11 1
1 12 66 220 495 792 924 792 495 220 66 12 1