In [ ]:
#What is the output of the following code

aTuple = (100, 200, 300, 400, 500)
aTuple[1] = 800
print(aTuple)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#What is the type of the following variable

aTuple = ("Orange")
print(type(aTuple))

<class 'str'>

In [ ]:
#What is the output of the following

tuple1 = (1120,'a')
print(max(tuple1))

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
#What is the output of the following tuple operation

aTuple = (100,)
print(aTuple * 2)

(100, 100)

In [ ]:
# What is the output of the following

aTuple = (10, 20, 30, 40, 50, 60, 70, 80)
print(aTuple[2:5], aTuple[:4], aTuple[3:])

(30, 40, 50) (10, 20, 30, 40) (40, 50, 60, 70, 80)

In [ ]:
# What is the output of the following

aTuple = "Yellow", 20, "Red"
a, b, c = aTuple
print(a)

Yellow

In [ ]:
# What is the output of the following tuple operation

aTuple = (100, 200, 300, 400, 500)
aTuple.pop(2)
print(aTuple)

AttributeError: 'tuple' object has no attribute 'pop'

In [ ]:
# Choose the correct way to access value 20 from the following tuple

aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
print(aTuple[1][1])

20